{embed="inc/_open-page"}
	<section class="bg-gray">
		<div class="container">
			<div class="row primary-wrap">
				<div class="col-xs-12">
					<h2>Eligablity</h2>
					<div class="divider"></div>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<ul class="">
						<div class="row center-block">
							<div class="col-sm-4">
								<li><a href="#">Something</a></li>
								<li><a href="#">Something</a></li>
								<li><a href="#">Something</a></li>
							</div>
							<div class="col-sm-4">
								<li><a href="#">Something</a></li>
								<li><a href="#">Something</a></li>
								<li><a href="#">Something</a></li>
							</div>
							<div class="col-sm-4">
								<li><a href="#">Something</a></li>
								<li><a href="#">Something</a></li>
								<li><a href="#">Something</a></li>
							</div>
						</div>
					</ul>
				</div>
			</div>	
		</div>
	</section>
	<section id="apply">
		<div class="container center">
			<img src="http://aspire.midwestern.de/assets/img/applyicon.png">
			<h1 class="color-g">Apply Online Today!</h1>
			<p>Taking the first steps to starting your career can be a daunting task. That's why we aim to make it as simple as possible to start the application process online. Applying online is as simple as following these key steps.</p>
			<div class="pb-60"></div>
			<ul id="applyicons">
				<li>
					<img src="http://aspire.midwestern.de/assets/img/account.png">
					<p class="color-g">Create An Account</p>
				</li>
				<span><img src="http://aspire.midwestern.de/assets/img/ellipse.png"></span>
				<li>
					<img src="http://aspire.midwestern.de/assets/img/eligibility.png">
					<p class="color-g">Check Eligibility &amp; Apply Online</p>
				</li>
				<span><img src="http://aspire.midwestern.de/assets/img/ellipse.png"></span>
				<li>
					<img src="http://aspire.midwestern.de/assets/img/schedule.png">
					<p class="color-g">Schedule An Interview</p>
				</li>
			</ul>
			<div class="pb-50"></div>
			<a href="http://aspire.midwestern.de/apply-online" class="btn btn-lg btn-color-g center-block">Take your first step</a>
		</div>
	</section>
{embed="inc/_close-page"}
