{embed="inc/_open-page"}
	<section class="bg-gray">
		<div class="container">
			<div class="row history">
				<div class="col-xs-12">
					<h2>History</h2>
					<div class="divider"></div>
					{exp:channel:entries channel="about" dynamic="no"}
					<p>
					{about_history}
					</p>
					{/exp:channel:entries}
		</div>
	</section>
	<section>
		<div style="padding-bottom: 0;" class="container">
			<div class="row board">
				<h2>Board Members</h2>
				<div class="divider"></div>
				{exp:channel:entries channel="board_members" sort="asc" dynamic="no"}
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="member-wrap">
						<h4 class="text-center">{title}</h4>
						<h5 class="text-center">{people_board_title}</h5>
					</div>
				</div>
				{/exp:channel:entries}
			</div>	
		</div>
	</section>
{embed="inc/_close-page"}
