{embed="inc/_open-page" title="Dashboard"}
	<section>
		<div class="container flush sub-content-section">
        	<div class="row">
                <h3>Awarded Applications</h3>
                <table class="ui-datatable mwi-table">
                    <thead>
                        <tr>
                            {!-- <th>Date</th> --}
                            <th>Name</th>
                            <th>Interview</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {exp:channel:entries channel="scholarship_application" search:submit_for_review="=Yes" search:app_awarded="Yes" orderby="interview_time" sort="desc"}
                        <tr>
                            {!-- <td class="ui-video"><a data-iframe="true" class="ui-video-btn" href="{url_title_path='ministry-openings'}">{edit_date format="%m/%d/%Y"}</a></td> --}
                            <td>{student_relationship:member_firstname} {student_relationship:member_lastname}</td>
                            <td>{if interview_time}{interview_time}{if:else}Not Scheduled{/if}</td>
                            <td>{student_relationship:member_cellphone}</td>
                            <td>{student_relationship:email}</td>
                            <td>
                                <table>
                                    <tr>
                                        <td hidden data-row data-entry_id="{entry_id}" data-author_id="{author_id}" data-email="{student_relationship:email}" data-recipient="{student_relationship:member_firstname} {student_relationship:member_lastname}" data-street="{street_res}" data-city="{city_res}" data-state="{state_res}" data-zip="{zip_res}" ></td>                                                                                        
                                        <td>
                                            <a data-action class="btn btn-sm btn-color-primary" href="{entry_id_path='apply-online/application'}/view">View</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-color-gray" href="{entry_id_path='dashboard/note'}">Notes</a>
                                        </td>
                                        <td><button data-modify="Deny" class="btn btn-sm btn-color-r" name="app_awarded" value="No">Deny</button></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        {/exp:channel:entries}
                    </tbody>
                </table>
                {!-- confirmation modal --}
                <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header" style="display: flex;">
                        <h4 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 1rem;margin: -1rem -1rem -1rem auto;">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>
                            
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary"></button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                      </div>
                    </div>
                  </div>
                </div>

                {!-- success modal --}
                <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header" style="display: flex;">
                        <h4 class="modal-title" id="exampleModalLongTitle">Student Notified!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 1rem;margin: -1rem -1rem -1rem auto;">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <script src="{site_url}assets/js/bootstrap.js"></script>
                <script src="{site_url}assets/js/aspiredashboard.js"></script>
        	</div>           
       </div>
    </section>
{embed="inc/_close-page"}