{embed="inc/_open-page" title="Dashboard"}
<style>
    .modal .modal-dialog-centered {
        top: 50%;
        transform: translateY(-50%);
    }
    .btn-color-b {
        background-color: #337ab7;
        color: white;
    }
</style>
{exp:channel:entries channel="scholarship_application" search:student_id="={zoo_visitor_id}"}
    {if interview == 'Yes'}
        <section class="container" style="padding-bottom: 0;">
            <div class="row">
                <div class="col-md-12 app-card" style="padding-top: 2% !important;">
                    <h3>Currently Scheduled Interview</h3>
                    <h2>{interview_time}</h2>
                    {exp:channel:form channel="scholarship_application" return="dashboard" class="cancel-review-form" entry_id="{entry_id}" include_assets="no" include_jquery="no"}
                        <input type="hidden" name="interview" value="">
                        <input type="hidden" name="interview_time" value="">
                        <a class="btn btn-lg btn-color-r ui-cancel" href="#">Cancel Interview</a>
                    {/exp:channel:form}
                </div>
            </div>
        </section>
    {/if}
{/exp:channel:entries}
	<section>
		<div class="container flush sub-content-section">
        	<div class="row">
            {if logged_in_group_id == '7'}
            	{exp:channel:entries channel="scholarship_application" search:student_id="={zoo_visitor_id}"}
                	<div class="col-sm-6">
                        <div class="app-card">
                            <div class="del-entry confirmDelete"><i class="fa fa-times"></i></div>
                    		<h3>{entry_date format="%F  %d%S, %Y"} Application</h3>
                    		<ul class="text-left">
                    			<li class="success">
                    				<i class="fa fa-check-circle-o fa-2x"></i>
                    				Eligibility Requirement
                    			</li>
                    			<li class="{if personal_information}success{/if}">
                    				{if personal_information}
                    				<i class="fa fa-check-circle-o fa-2x"></i>
                    				{if:else}
                    				<i class="fa fa-circle-o fa-2x"></i>
                    				{/if}
                                    <a href="{entry_id_path='apply-online/application'}/1">
                        				Personal Information
                                    </a>
                    			</li>
                                <li class="{if educational_information}success{/if}">
                                    {if educational_information}
                                    <i class="fa fa-check-circle-o fa-2x"></i>
                                    {if:else}
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    {/if}
                                    <a href="{entry_id_path='apply-online/application'}/2">
                                        Educational Information
                                    </a>
                                </li>
                                <li class="{if family_information_complete}success{/if}">
                                    {if family_information_complete}
                                    <i class="fa fa-check-circle-o fa-2x"></i>
                                    {if:else}
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    {/if}
                                    <a href="{entry_id_path='apply-online/application'}/3">
                                        Family Information
                                    </a>
                                </li>
                                <li class="{if financial_information_complete}success{/if}">
                                    {if financial_information_complete}
                                    <i class="fa fa-check-circle-o fa-2x"></i>
                                    {if:else}
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    {/if}
                                    <a href="{entry_id_path='apply-online/application'}/4">
                                        Financial Information
                                    </a>
                                </li>
                                <li class="{if file_upload_complete}success{/if}">
                                    {if file_upload_complete}
                                    <i class="fa float-left fa-check-circle-o fa-2x"></i>
                                    {if:else}
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    {/if}
                                    <a href="{entry_id_path='apply-online/application'}/5">
                                        Additional Requirements / Uploads
                                    </a>
                                </li>
                                <li class="{if app_complete}success{/if}">
                                    {if app_complete}
                                    <i class="fa fa-check-circle-o fa-2x"></i>
                                    {if:else}
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    {/if}
                                    <a href="{entry_id_path='apply-online/application'}/6">
                                        Signed & Completed
                                    </a>
                                </li>
                    			<li class="{if submit_for_review}success{/if}">
                    				{if submit_for_review}
                    				<i class="fa fa-check-circle-o fa-2x"></i>
                    				{if:else}
                    				<i class="fa fa-circle-o fa-2x"></i>
                    				{/if}
                    				Application Submitted for Review
                    			</li>
                               {!--  <li class="{if interview}success{/if}">
                                    {if interview}
                                    <i class="fa fa-check-circle-o fa-2x"></i>
                                    {if:else}
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    {/if}
                                    Scholarship Interview
                                    {if interview_time}<i style="display:block;">{interview_time}</i>{/if}
                                </li> --}
                    			<li class="{if "{app_awarded}" == "Yes"}success{if:elseif "{app_awarded}" == "No"}denied{/if}">
                    				{if "{app_awarded}" == "Yes"} 
                        				<i class="fa fa-check-circle-o fa-2x"></i>
                                    {if:elseif "{app_awarded}" == "No"}
                                        <i class="fa fa-times-circle-o fa-2x"></i>
                    				{if:else}
                    				<i class="fa fa-circle-o fa-2x"></i>
                    				{/if}
                    				Application {if "{app_awarded}" == "Yes"}Awarded{if:elseif "{app_awarded}" == "No"}Denied{if:else}Decision{/if}
                    			</li>
                    		</ul>
                    		<p>
                            {if !app_awarded}
                                {if app_complete == "Yes" && personal_information == "Yes" && educational_information == "Yes" && family_information_complete == "Yes" && financial_information_complete == "Yes" && submit_for_review != "Yes"}
                                {exp:channel:form channel="scholarship_application" return="dashboard" class="review-form" entry_id="{entry_id}" include_assets="no" include_jquery="no"}
                                    <input type="hidden" name="submit_for_review[]" value="Yes">
                        			<button type="submit" class="btn btn-sm btn-color-g" href="{entry_id_path='apply-online/application'}">Submit Application</button>
                                {/exp:channel:form}
                                {/if}
                                {!-- {if !interview && app_complete == "Yes"}
                        			<a class="btn btn-lg btn-color-g" href="{entry_id_path="dashboard/schedule"}">Schedule Interview</a>
                                {if:elseif interview == "Yes"}
                                    {exp:channel:form channel="scholarship_application" return="dashboard" class="cancel-review-form" entry_id="{entry_id}" include_assets="no" include_jquery="no"}
                                        <input type="hidden" name="interview" value="">
                                        <input type="hidden" name="interview_time" value="">
                                        <a class="btn btn-lg btn-color-r ui-cancel" href="#">Cancel Interview</a>
                                    {/exp:channel:form}
                                {/if} --}
                            {if:else}
                                <a class="btn btn-lg btn-color-primary" href="{site_url}contact">Contact For Details</a>
                            {/if}
                    		</p>
                        </div>
                	</div>
                    <div class="ui-load"></div>
                        <div class="deleteApplicationModal">
                            <div class="inner">
                                <h3 class="text-center">Confirm Deletion?</h3>
                                <p>You are about to delete your application, are you sure you want to delete this?</p>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="cancelDelete text-center btn btn-color-primary">Cancel</div>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="{path='dashboard/delete-application'}/{entry_id}"><button type="submit" class="btn btn-lg btn-color-g confirmBtn">Confirm</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <script>
                        $('.ui-cancel').on('click',function(){
                            
                            var student = '{zoo_visitor_id}';

                            $( ".ui-load" ).load("{site_url}/dashboard/scheduler/0/"+student+"/{entry_id}", function(){
                                $('.cancel-review-form').submit();
                            });

                            return false;
                        });
                    </script>
                {/exp:channel:entries}
            {if:elseif logged_in_group_id == '6' || logged_in_group_id == '8'}

            <style>
                table.dataTable tbody th, table.dataTable tbody td {
                    padding: 8px 2px;
                }
            </style>
                <h3>Interview Scheduled Applications</h3>
                <hr>
                <table class="ui-datatable mwi-table">
                    <thead>
                        <tr>
                            {!-- <th>Date</th> --}
                            <th>Name</th>
                            <th>Interview</th>
                            <th>Application Date</th>
                            <th>Latest Update</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {exp:channel:entries channel="scholarship_application" search:interview="=Yes" search:submit_for_review="=Yes" search:app_awarded="IS_EMPTY"  sort="desc"}
                        <tr>
                            {!-- <td class="ui-video"><a data-iframe="true" class="ui-video-btn" href="{url_title_path='ministry-openings'}">{edit_date format="%m/%d/%Y"}</a></td> --}
                            <td>{student_relationship:member_firstname} {student_relationship:member_lastname}</td>
                            <td>{if interview_time}{interview_time}{if:else}Not Scheduled{/if}</td>
                            <td>{if scholarship_application_date}{scholarship_application_date format="%M %d %Y"}{if:else}{entry_date format="%M %d %Y"}{/if}</td>
                            <td>{application_last_updated format="%M %d %Y"}</td>
                            <td>{student_relationship:member_cellphone}</td>
                            <td>{student_relationship:email}</td>
                            <td>
                                <table>
                                 <td hidden data-row data-entry_id="{entry_id}" data-author_id="{author_id}" data-email="{student_relationship:email}" data-recipient="{student_relationship:member_firstname} {student_relationship:member_lastname}" data-street="{street_res}" data-city="{city_res}" data-state="{state_res}" data-zip="{zip_res}" ></td>
                                <td>
                                    <a class="btn btn-sm btn-color-primary" href="{entry_id_path='apply-online/application'}/view">View </a>
                                </td>
                               <td> 
                                    <a class="btn btn-sm btn-color-p" href="{entry_id_path='dashboard/note'}">Notes</a>
                                </td>
                                {!-- {exp:channel:form channel="scholarship_application" return="dashboard" class="app-completes" entry_id="{entry_id}" include_assets="no" include_jquery="no"} --}
                                <td>
                                    <button data-modify="Award" class="btn btn-sm btn-color-g" name="app_awarded" value="Yes">Award</button>
                                </td>
                                <td>
                                    <button data-modify="Deny" class="btn btn-sm btn-color-r" name="app_awarded" value="No">Deny</button>
                                </td>
                                <td>
                                    <button data-modify="Close Application"  class="fa fa-times btn-link " name="status" value="closed"></button>
                                </td>
                                </table>
                                {!-- {/exp:channel:form} --}
                            </td>
                        </tr>
                        {/exp:channel:entries}
                    </tbody>
                </table>
                <hr>
                <h3>Submitted Applications</h3>
                <hr>
                
                <table class="ui-datatable mwi-table">
                    <thead>
                        <tr>
                            {!-- <th>Date</th> --}
                            <th>Name</th>
                            <th>Interview</th>
                            <th>Application Date</th>
                            <th>Latest Update</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                            {exp:channel:entries channel="scholarship_application" search:submit_for_review="=Yes" search:interview="IS_EMPTY" entry_id="{segment_2}" search:app_awarded="IS_EMPTY" sort="desc"}
                            
                            <tr>
                                {!-- <td class="ui-video"><a data-iframe="true" class="ui-video-btn" href="{url_title_path='ministry-openings'}">{edit_date format="%m/%d/%Y"}</a></td> --}
                                <td>{student_relationship:member_firstname} {student_relationship:member_lastname}</td>
                                <td>{if interview_time}{interview_time}{if:else}Not Scheduled{/if}</td>
                                <td>{if scholarship_application_date}{scholarship_application_date format="%M %d %Y"}{if:else}{entry_date format="%M %d %Y"}{/if}</td>
                                <td>{application_last_updated format="%M %d %Y"}</td>
                                <td>{student_relationship:member_cellphone}</td>
                                <td>{student_relationship:email}</td>
                                <td>
                                    <table>
                                        <tr>
                                            <td hidden data-row data-entry_id="{entry_id}" data-author_id="{author_id}" data-email="{student_relationship:email}" data-recipient="{student_relationship:member_firstname} {student_relationship:member_lastname}" data-street="{street_res}" data-city="{city_res}" data-state="{state_res}" data-zip="{zip_res}" ></td>                                                                                        
                                            <td>
                                                <a data-action class="btn btn-sm btn-color-primary" href="{entry_id_path='apply-online/application'}/view">View</a>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-color-gray" href="{entry_id_path='dashboard/note'}">Notes</a>
                                            </td>
                                            {!-- {exp:channel:form channel="scholarship_application" return="dashboard" class="app-completes" include_assets="no" entry_id="{entry_id}" include_jquery="no"} --}
                                            <td><button data-modify="Award" class="btn btn-sm btn-color-g" name="app_awarded" value="Yes">Award</button></td>
                                            <td><button data-modify="Deny" class="btn btn-sm btn-color-r" name="app_awarded" value="No">Deny</button></td>
                                            <td><button data-modify="Close Application" class="fa fa-times btn-link" name="status" value="closed"></button></td>
                                        </tr>
                                        {!-- {/exp:channel:form} --}
                                    </table>
                                </td>
                            </tr>
                            {/exp:channel:entries}
                    </tbody>
                </table>
                {!-- confirmation modal --}
                <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header" style="display: flex;">
                        <h4 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 1rem;margin: -1rem -1rem -1rem auto;">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>
                            
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary"></button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                      </div>
                    </div>
                  </div>
                </div>

                {!-- success modal --}
                <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header" style="display: flex;">
                        <h4 class="modal-title" id="exampleModalLongTitle">Student Notified!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 1rem;margin: -1rem -1rem -1rem auto;">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <script src="{site_url}assets/js/bootstrap.js"></script>
                <script src="{site_url}assets/js/aspiredashboard.js"></script>
                
            {/if} {!-- {if:elseif logged_in_group_id == '6' || logged_in_group_id == '8'} --}
        	</div>           
       </div>
    </section>

    <script>
        $(document).ready(function(){
            $('.confirmDelete, .cancelDelete').click(function(){
                $('.deleteApplicationModal').toggleClass('open');
            });

            // var entryIdentified = false;

            // $("[data-action]").on("click", function(e){
            //     if (entryIdentified) {
            //         entryIdentified = false;
            //         return true;
            //     }

            //     e.preventDefault();
            //     prepareForm(e, $(this), function(){
            //         $(this).closest("form").submit();    
            //     });
            //     entryIdentified = true;
                
                  
            // });

            // function prepareForm(e, activator) {
            //     var dataRow = activator.closest("tr");
            //     var data = {
            //         entry_id : dataRow.find("[data-entry_id]").data("entry_id"),
            //         author_id: dataRow.find("[data-author_id]").data("author_id") 
            //     }
            //     var form = activator.closest("form");
            //     form.find("input[name='entry_id']").val(data.entry_id);
            //     form.find("input[name='author_id']").val(data.author_id);

            // }

        });
    </script>
{embed="inc/_close-page"}