{embed="inc/_open-page"}
	<div class="sub-page">
		<div class="slider">
			<header style="background-image: url('{site_url}assets/img/png/sub-page-header.png'); background-size:cover;">
				<h2>One of the best weapons to<br> combat poverty is through education</h2>
			</header>
		</div>
		<section class="" id="nav">
			<nav class="" >
				<a href="" id="logo"><img src="{site_url}assets/img/aspirelogo.png" class="no-bar"><img src="{site_url}assets/img/png/logo-white.png" class="bar hidden"></a>
				<div class="mobile-nav">
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Students</a></li>
						<li class="drop"><a href="#">Apply Online</a>
							<ul class="sub">
								<li><a href="">Elegibility</a></li>
							</ul>
						</li>
						<li><a href="#">Donate</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Sign In</a></li>
					</ul>
				</div>
			</nav>
			<div class="mobile-btn">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</section>
	</div>
{embed="inc/_close-page"}
