{embed="inc/_open-page"}
			<section id="about">
				<div class="container center">
				<img src="assets/img/haticon.png">
				<div class="pb-30"></div>
					<h2>Helping Single Parents<br /> Dream, Learn, and Succeed.</h2>
					<div class="pb-30"></div>
					<p>Our mission is ot support single parents in attaining an education - opening the doors<br />to careers that will enhance their families' lives.</p>
					<div class="pb-100"></div>
					<a href="#" class="btn btn-lg btn-border-w ">Learn More</a>
				</div>
			</section>
			<section id="apply">
				<div class="container center">
					<img src="assets/img/applyicon.png">
					<h1 class="color-g">Apply Online Today!</h1>
					<p>Taking the first steps to starting your career can be a daunting task. That's why we aim to make it as simple as possible to start the application process online. Applying online is as simple as following these key steps.</p>
					<div class="pb-60"></div>
					<ul id="applyicons">
						<li>
							<img src="assets/img/eligibility.png">
							<p class="color-g">Check Eligibility Requirements</p>
						</li>
						<span><img src="assets/img/ellipse.png"></span>
						
						<li>
							<img src="assets/img/account.png">
							<p class="color-g">Create An Account</p>
						</li>
							<span><img src="assets/img/ellipse.png"></span>

						<li>
							<img src="assets/img/schedule.png">
							<p class="color-g">Schedule An Interview</p>
						</li>
						
					</ul>
					<div class="pb-50"></div>
					<a href="#" class="btn btn-lg btn-color-g ">Take your first step</a>
				</div>
			</section>
{embed="inc/_close-page"}

	<script src="assets/js/jquery.js"></script>
	<script>
		$(document).ready (function () {
		    $(window).scroll (function () {
		        var sT = $(this).scrollTop();
		            if (sT >= 1) {
		                $('nav').addClass('navcolor')
		                $('.no-bar, .bar').addClass('active');
		            }else {
		                $('nav').removeClass('navcolor');
		                $('.no-bar, .bar').removeClass('active');
		            }
		    });
		    $('.mobile-btn').click(function(){
		    	$('body').toggleClass('active');
		    	$('.mobile-nav').toggleClass('active');
		    	$('.mobile-nav').toggleClass('mobile');
		    	$('.mobile-btn').toggleClass('active');
		    });
		    $('.drop').hover(function(){
		    	$('.sub').toggleClass('sub-show');
		    });
		});
	</script>
