{embed="inc/_open-page"}
	<section class="bg-gray">
		<div class="container">
			<div class="row primary-wrap">
				<div class="col-xs-12">
					<img class="center-block" src="http://aspire.midwestern.de/assets/img/applyicon.png">
					<h2 class="pt-30">The Aspire Scholarship</h2>
					<div class="divider"></div>
					{exp:channel:entries channel="static_pages" entry_id="81" dynamic="no"}'
						{static_content}
					{/exp:channel:entries}
					</div>
				</div>
			</div>	
		</div>
	</section>
	{embed="students/slider"}

	{exp:channel:entries channel="home" entry_id="69" dynamic="no"}
	<section id="apply">
		<div class="container center">
			<img src="{site_url}assets/img/applyicon.png">
			<h1 class="color-g">Apply Online Today!</h1>
			<p>{home_apply_intro}</p>
			<div class="pb-60"></div>
			<ul id="applyicons">
				{home_steps}
				<li>
					<img src="{home_steps:icon}">
					<p class="color-g">{home_steps:label}</p>
				</li>
				<span><img src="{site_url}assets/img/ellipse.png"></span>
				{/home_steps}
			</ul>
			<div class="pb-50"></div>
			<a href="http://aspire.midwestern.de/apply-online" class="btn btn-lg btn-color-g center-block">Take your first step</a>
		</div>
	</section>
	{/exp:channel:entries}
<script>
    $('.testimonial-slider').owlCarousel({
        center: true,
        items:1,
        nav: true,
        loop:true,
        center: true,
        autoplay: 4500,
        slideSpeed: 1700,
        responsive: true,
        responsiveRefreshRate: 100,
        autoplayHoverPause: true,
        // animateOut: 'bounceOut',
        // animateIn: 'fadeIn',
        animateOut: 'fadeOut',
        animateIn: 'fadeIn',
        responsive:{
            600:{items:1}
        }
    });
</script>
{embed="inc/_close-page"}
