<section>
	<div class="testimonial-slider">
		{exp:channel:entries channel="success_story" dynamic="no" limit="4"}
			<div>
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="photo-student" style="background: #f5f5f5 url('{ss_student_image}');"></div>
							<h4 class="text-center name">{title}</h4>
							<p class="text-center quote">{exp:chopper words="25"}{ss_success_story}{/exp:chopper}...</p>
							<a href="{url_title_path="success-story"}" class="btn btn-lg btn-color-g center-block">Read More</a>
						</div>
					</div>
				</div>
			</div>
		{/exp:channel:entries}
	</div>
</section>