{embed="inc/_open-page"}
	<section class="bg-gray">
		<div class="container">
			<div class="row history">
				<div class="col-xs-12">
				{exp:channel:entries channel="success_story"}
					<h2>{title}</h2>
					<div class="divider"></div>
					{if ss_student_video}
					<div class="fitvid">
						{ss_student_video}
					</div>
					<script type="text/javascript">
						$(function(){
							$('.fitvid').fitVids();
						});
					</script>
					<hr>
					{/if}
					<p>{ss_success_story}</p>

				{/exp:channel:entries}
				</div>
			</div>
		</div>
	</section>
	<section class="other-ss">
		<div class="container">
			<div class="row blog-style">
			<h2 class="center">Other Success Stories</h2>
			<hr>
			{exp:channel:entries channel="success_story" url_title="not {segment_2}" order_by="random" dynamic="no" limit="4"}
				<div class="col-md-3 col-sm-6 col-xs-12 col">
					<div class="testimonial-inner-wrap">
						<img class="person" src="{site_url}assets/img/account.png">
						<h4 class="text-center name">{title}</h4>
						<p class="text-center quote">{exp:chopper words="25"}{ss_success_story}{/exp:chopper}...</p>
						<a href="{url_title_path="success-story"}" class="btn btn-lg btn-color-g center-block">Read More</a>
					</div>
				</div>
			{/exp:channel:entries}
			</div>
		</div>
	</section>
{embed="inc/_close-page"}
