{layout="visitor_example/layout" page_title="Change Password"}

{layout:set name="content"}
    <h2>Account - Change password</h2>

    {if logged_in}
        {if segment_3 == "success"}
            <div class="alert success">Password Updated!</div>
        {/if}

        {exp:visitor:update_form return="visitor_example/change_password/success"}
            <fieldset>
                When changing your password, you will be asked to login again for security reasons.
                <p>
                    <label for="current_password" class="form-label">Current password:</label>
                    <input type="password" name="current_password" id="current_password" class="form-text"  />
                </p>
                <p>
                    <label for="new_password" class="form-label">New password</label>
                    <input type="password" name="new_password" id="new_password" class="form-text"  />
                </p>
                <p>
                    <label for="new_password_confirm" class="form-label">Confirm New password</label>
                    <input type="password" name="new_password_confirm" id="new_password_confirm" class="form-text"  />
                </p>
            </fieldset>

            <p>
                <input type="submit" value="Submit" class="btn btn-primary" />
            </p>
        {/exp:visitor:update_form}
    {if:else}
        <p>You are not logged in.</p>
        <br />

        <p><a class="btn btn-primary" href="{path=visitor_example/login}">Login</a> &nbsp;&nbsp;&nbsp; <a class="btn btn-primary" href="{path=visitor_example/register}">Register</a></p>
    {/if}
{/layout:set}