{layout="visitor_example/layout" page_title="Register"}

{layout:set name="content"}
    <h2>Account - Forgot password</h2>

    {if logged_in}
    	You are already registered and logged in. <a href="{path=logout}">Logout</a> or go to your <a href="{path=visitor_example/profile}">profile</a>.
    {if:else}
        {exp:visitor:forgot_password error_handling="inline" reset_url="/visitor_example/reset_password"}
        	{if password_sent}
        		<h3>A password reset mail has been sent to the provided email.</h3>
        	{if:else}
        		<fieldset>
        			<p>
        				<label for="email" class="form-label">Your email:</label>
        				<input type="text" name="email" id="email" class="form-text" value="" />
        			</p>
        			{error:email}
        		</fieldset>
        		<p>
        	        	<input type="submit" value="Retrieve password" class="button" />
        		</p>
        	{/if}
        {/exp:visitor:forgot_password}
    {/if}
{/layout:set}