{layout="visitor_example/layout" page_title="Register"}

{layout:set name="content"}
    <h2>AJAX login</h2>

    {if logged_in}
        <p>You are already registered and logged in.</p>
        <br />

        <p><a class="btn btn-primary" href="{path=visitor_example/profile}">Go to Profile</a> &nbsp;&nbsp;&nbsp; <a class="btn btn-sm btn-warning" href="{path=logout}">Logout</a></p>
    {if:else}
        {exp:visitor:login_form id="loginForm" json="yes"}
            {error:login}

            <fieldset>
                <p>
                    <label for="email">Email:</label>
                    <input type="text" name="username" id="username" />
                </p>
                <p>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" />
                </p>

                {if auto_login}
                    Remember me? <input class="checkbox" name="auto_login" type="checkbox" value="1" />
                {/if}
            </fieldset>

            <p><input id="loginBtn" name="submit" type="submit" value="Login" class="btn btn-primary" /></p>
            <br />

            <div id="loginStatus" class="alert"></div>

        {/exp:visitor:login_form}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

        <!--using the jQuery Form plugin http://jquery.malsup.com/form/-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                $('#loginForm').ajaxForm({
                    dataType: 'json',
                    beforeSubmit: function(formData, jqForm, options) {
                        $('#loginStatus').hide().removeClass('error success');
                        $('#loginBtn').val('Logging In...').attr('disabled', true);
                    },
                    success: function(data) {
                        $('#loginBtn').val('Login').attr('disabled', false);


                        if (data.success) {
                            $('#loginStatus').addClass('success').html('You are now logged in. You can add additional actions in the js script.').show();
                        } else {
                            $('#loginStatus').addClass('error').html('<b>Login Failed:</b> '+data.errors.login).show();
                        }
                    }
                });
            });
        </script>
    {/if}
{/layout:set}