{layout="visitor_example/layout" page_title="Register"}

{layout:set name="content"}
    <h2>Member List</h2>

    {if logged_in AND logged_in_group_id == 1}
        <table width="100%" class="table" cellspacing="0" cellpadding="5">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Screen Name</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
        {exp:visitor:members}
            <tr>
                <td>{visitor:member_firstname}</td>
                <td>{visitor:member_lastname}</td>
                <td>{visitor:email}</td>
                <td>{visitor:username}</td>
                <td>{visitor:screen_name}</td>
                <td><a id="{visitor:member_firstname}{visitor:member_lastname}" class="member_detail" href="{path=visitor_example/member_detail}/{visitor:member_id}">View Member Details</a></td>
            </tr>
        {/exp:visitor:members}
        </tbody>
        </table>
    {if:else}
        <div class="alert error">You do not have permission to view this page</div>
    {/if}
{/layout:set}