{layout="visitor_example/layout" page_title="Register"}

{layout:set name="content"}
    <h2>Account - Reset password</h2>

    <p>Link to this page in the forgot password email</p>

    {if logged_in}
        You are already registered and logged in. <a href="{path=logout}">Logout</a> or go to your <a href="{path=visitor_example/profile}">profile</a>.
    {if:else}
        {exp:visitor:reset_password error_handling="inline"}
            {if password_reset}
                <h3>Your password has been reset. You can now login with your new password</h3>
            {if:else}
                <fieldset>
                	<p>
                	<label for="email" class="form-label">Password :</label>
                		<input type="password" name="password" id="password" class="form-text" value="" />
                	</p>

                	<p>
                	<label for="email" class="form-label">Confirm Password  :</label>
                	<input type="password" name="password_confirm" id="password_confirm" class="form-text" value="" />
                	</p>

                	{error:password}
                </fieldset>
                <p>
                	<input type="submit" value="Reset your password" class="button" />
                </p>
            {/if}
        {/exp:visitor:reset_password}
    {/if}
{/layout:set}