
.pagination{
	border-radius       : 2px;
	box-shadow          : inset 0 0 1px rgba(0, 0, 0, 0.15);
	background          : rgba(200, 210, 220, 0.2);
	display             : block;
	text-align          : right;
	margin-left 		: 0;
	}

.pagination li {
	border-left         : 1px dotted rgba(255, 255, 255, 0.5);
	display             : inline-block;
	}

.pagination a,
.pagination b {
	display             : inline-block;
	padding             : 10px 20px;
	text-shadow 		: 1px 1px 1px #FFF;
	}

.pagination b {
	color               : rgba(0, 0, 0, 0.3);
	font-weight         : normal;
	text-shadow         : 0 1px 0 rgba(255, 255, 255, 0.8);
	}
