{embed="inc/_open-page"}

{if segment_2 == "thank-you"}
	<section>
		<div class="container contact-wrap">
			<div class="row primary-wrap">
				<div class="col-xs-12">
					<h2>Thank You</h2>
					<div class="divider"></div>
					<p>Your message has been recieved and someone will be getting back to you shortly.</p>
				</div>
			</div>
			<div class="row">
				{exp:channel:entries channel="company_info" dynamic="no"}
				<div class="col-sm-6">
					<p class="pb-10 text-right">
						{program_name}<br>
						{address}
					</p>
				</div>
				<div class="col-sm-6">
					<p><a href="tel:{phone_link}"><i class="fa fa-phone"></i> Call Today</a></p>
					<p><a href="mailto:{primary_email}"><i class="fa fa-envelope"></i> Email Us</a></p>
				</div>
				{/exp:channel:entries}
			</div>
		</div>
	</seciton>
{/if}
{if segment_1 =='contact' && segment_2 == ''}
	<section>
		<div class="container contact-wrap">
			<div class="row primary-wrap">
				<div class="col-xs-12">
					<h2>Contact Us</h2>
					<div class="divider"></div>
				</div>
			</div>
			<div class="row">
				{exp:channel:entries channel="company_info" dynamic="no"}
				<div class="col-sm-6">
					<p class="pb-10 text-right">
						{program_name}<br>
						{address}
					</p>
				</div>
				<div class="col-sm-6">
					<p><a href="tel:{phone_link}"><i class="fa fa-phone"></i> Call Today</a></p>
					<p><a href="mailto:{primary_email}"><i class="fa fa-envelope"></i> Email Us</a></p>
				</div>
				{/exp:channel:entries}
			</div>
			{exp:freeform:form form_name="contact" required="first_name|email|user_message" return="contact/thank-you" inline_errors="yes"}
			<div class="row">
				<div class="col-sm-6">
					<input class="primary" type="text" name="first_name" placeholder="First Name">
					{if freeform:error:first_name}
					    <div class="alert alert-danger">{freeform:error:first_name}</div>
					{/if}
				</div>
				<div class="col-sm-6">
					<input class="primary" type="text" name="last_name" placeholder="Last Name">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<input class="primary" type="email" name="email" placeholder="Email">
					{if freeform:error:email}
					    <div class="alert alert-danger">{freeform:error:email}</div>
					{/if}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<input class="primary" type="text" name="subject" placeholder="Subject">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<textarea class="primary" name="user_message" placeholder="Message"></textarea>
					{if freeform:error:user_message}
					    <div class="alert alert-danger">{freeform:error:user_message}</div>
					{/if}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button id="contactSubmit" type="submit" class="btn btn-lg btn-color-g center-block">Submit</button>
				</div>
			</div>
			{/exp:freeform:form}
		</div>
	</seciton>
{/if}
{embed="inc/_close-page"}
