			<footer>
				<div class="container">
					<img class="pb-40" src="{site_url}assets/img/aspirelogogrey.png">
				<ul class="pb-30 footer-nav">
					<li><a href="{path='about'}">About</a></li>
					<li><a href="{path='students'}">Students</a></li>
					<li><a href="{path='apply-online'}">Apply Online</a></li>
					{!-- <li><a href="{path='donate'}">Donate</a></li> --}
					<li><a href="{path='contact'}">Contact</a></li>
		            {if !logged_in}<li><a href="{path='sign-in'}">Sign In</a></li>{if:else}<li><a href="{path='logout'}">Logout</a></li>{/if}
				</ul>
				{exp:channel:entries channel="company_info" dynamic="no"}
				<p class="pb-10 text-center">Aspire Scholarship Program<br>
					{address}
				</p>
				<p class="pb-10 text-center contact-list">
					Call: <a class="phone-number" href="tel:{phone_link}">{phone_display}</a><br>
					Email: <a href="mailto:{primary_email}">{primary_email}</a><br>
					{social_media}
						{social_media:name_of_network}: <a target="_blank" href="{social_media:link}">{social_media:link}</a>{if social_media:count > 1}<br>{/if}
					{/social_media}
				</p>
				{/exp:channel:entries}
				</div>
			</footer>
		</div>
	</body>
</html>