#visitor-install td {
    white-space: inherit;
    font-size: 14px;
    }
#visitor-install ul {
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 0;
    }
#visitor-install .step {
    position: relative;
    margin: 20px 0;
    }
fieldset.step + fieldset.step {
    padding-top: 20px;
    border-top: 1px solid #ccc;
    }
#visitor-install .field-instruct label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    }
#visitor-install .field-instruct em {
    color: gray;
    display: block;
    font-size: 12px;
    font-style: normal;
    margin-top: 2px;
    }
#visitor-install .step-type-desc {
    padding: 5px 10px;
    color: #555;
    font-size: 12px;
    font-style: italic;
    /*background-color: #f5f5f5;*/
    }
#visitor-install .step .status {
    float: right;
    }
#visitor-install h3 {
    margin-bottom: 10px;
    font-size: 14px;
    }
#visitor-install p {
    margin: 5px 0 15px 0;
    }
#visitor-install .btn[disabled] {
    opacity: 0.5;
    }