 body {
    margin: 0;
  }
  form {
    margin: 0 !important;
  }
  .bg-login {
    height: 100%;
    height: 100vh  !important;
    width: 100% !important;
    display: table;
  }

  .vert-wrap {
    display: table-cell;
    vertical-align: middle;
  }
  .login-form {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 270px;
    padding: 20px;
    background: rgba(147, 29, 90, .8);
  }
  .login-form input {
    width: 100%;
    max-width: 243px !important;
    border: none;
    background: white;
    padding: 15px;
    font-size: 22px !important;
    color: #6C6C6C !important;
    margin-bottom: 10px !important;
    letter-spacing: 1.3px;
    font-family: "fira-sans",sans-serif !important;
    font-style: normal;
    font-weight: 400 !important;
    margin-top: 10px;
  }
  .login-form input:focus,
  .login-form input:hover {
    outline: 0 !important;
  }
  .login-form label {
    font-family: "fira-sans",sans-serif !important;
    color: white;
    font-size: 18px;
    letter-spacing: .7px;
  }
  .login-form a {
      color: white;
      text-decoration: none;
      letter-spacing: .7px;
   }
  .login-form p {
   font-family: "fira-sans",sans-serif !important;
   letter-spacing: .7px;
    padding: 0;
    margin: 0;
  }
  .login-form button {
    width: 100%;
    padding: 17px 0;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid white;
    color: white;
    letter-spacing: 1.3px;
    outline: 0 !important;
    margin: 10px 0;
    cursor: pointer;
    transition: background .35s ease;
   -moz-transition: background .35s ease;
   -webkit-transition: background .35s ease;
  }
  .login-form button:hover,
  .login-form button:focus {
    background: rgba(255, 255, 255, .15);
    transition: background .35s ease;
   -moz-transition: background .35s ease;
   -webkit-transition: background .35s ease;
  }
  .login-form button:active {
    background: rgba(255, 255, 255, .35);
    transition: background .35s ease;
   -moz-transition: background .35s ease;
   -webkit-transition: background .35s ease;
  }
  .login-form img.login-logo {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
  }