/* @override 
	http://aspire.midwestern.de/assets/css/style.css */

/*----------------------------------------------------
	Title: 		
	Author:		
----------------------------------------------------*/

/* ------------------------------------------------------------------------------------------
Reset Styles 
------------------------------------------------------------------------------------------ */
/*Colors: 
	⁃	Maroon: #931d5a
	⁃	Peach: #f69168
	⁃	Green: #c0cf3f
	⁃	Blue: #26bad0
	⁃	Footer Grey: #ebebeb
Fonts: Tisa - ff-tisa-web-pro
		Fira Sans - fira-sans
		Myriad - myriad-pro
*/
/* Resets */
/*section,nav,hgroup,header,footer,figure,dialog,aside,article,td,th,tr,thead,tfoot,tbody,caption,table,legend,label,form,fieldset,li,ul,ol,dd,dt,dl,q,img,em,dfn,del,code,address,acronym,abbr,a,pre,blockquote,p,h6,h5,h4,h3,h2,h1,iframe,object,span,div,body,html{margin:0;padding:0;border:0;vertical-align:baseline}section,nav,hgroup,header,footer,figure,dialog,aside,article{display:block}table{border-collapse:collapse;border-spacing:0}td,th,caption{text-align:left;font-weight:normal}th,td,table{vertical-align:middle}q:after,q:before,blockquote:after,blockquote:before{content:""}q,blockquote{quotes:"" ""}a img{border:none}*/

/* ------------------------------------------------------------------------------------------
Base Framework
------------------------------------------------------------------------------------------ */
.left       				{float: left;}
.right      				{float: right;}
.left-img      				{float: left;margin:5px 15px 10px 0;}
.right-img     				{float: right;margin:5px 0 10px 15px;}
.text-left					{text-align: left !important;}
.text-right					{text-align: right !important;}
.no-marg    				{margin: 0px !important;}
.top-marg					{margin-top: 40px !important;}
.center 					{text-align: center !important;}
strong, .strong 			{font-weight: bold;}
strong em, .strong em 		{font-weight: 800;}
em, .em 					{font-style: italic;}
.small 						{font-size: 12px !important; line-height: 20px;}
.wrap						{float: left; width: 100%;}
img 						{max-height: 100%; max-width: 100%;}
.no-bull 					{list-style: none;}
span.gc-cs-link				{color:#fff !important; text-decoration:none !important;}
.marg-top					{margin-top:20px;}
.map img {
	max-width: none;
	max-height: none;
}
form input{margin-bottom: 20px;}
.map label {
	width:auto;
	display:inline;
}
.error{color:red;}
button{
	cursor: pointer;
}
body {
	font-family:'fira-sans', sans-serif;
	position: relative;
	right:0;
	transition:right 200ms;
}
body.active {
	right:250px;
}


/* ------------------------------------------------------------------------------------------
Typography styles 
------------------------------------------------------------------------------------------ */

/* Base Text
--------------------------------------------- */
.review-form{display:inline;}
p,ul,ol,li {
	color:#7F7F7F;
}
p {
	
}
ul,ol {

}
a {
	text-decoration: none;
	color: #bcbbbb;
}
a:hover {
	
}
.ul-list li{
	left: 30px;
	position: relative;
	list-style: circle;
}
/* Headings
--------------------------------------------- */
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h1, h2, h3, h4, h5, h6{
	font-family:'fira-sans', sans-serif;
	color:#7F7F7F;
}

input.invisibe {
	visibility: hidden;
}

/* Buttons
--------------------------------------------- */
.btn {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	font-family:"baskerville-urw",serif;
	background-color:transparent;
	padding:10px 30px;
	font-size:32px;
	font-weight: 400;
}


/* ------------------------------------------------------------------------------------------
Fluid Grid Elements
------------------------------------------------------------------------------------------ */
.container {
	clear: both;
	display: block;
	margin: 0px auto;
	width: 92%;
	max-width: 1160px;
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;
}
.navcontainer {
	clear: both;
	display: block;
	margin: 0px auto;
	width: 92%;
	max-width: 1160px;
	position: relative;
}
.squeeze {
	max-width:960px;
}
.super-squeeze{
	max-width:768px;
}
.col1	{ width: 100%; float: left; }
.col2	{ width:48%;}
.col3	{ width:30.66%; }
.col2-3	{ width:65.33%; }
.col4	{ width:22%; }
.col3-4	{ width:74%; }
.col5	{ width:16.8%; }
.col2-5	{ width:37.6%; }
.col3-5	{ width:58.4%; }
.col4-5	{ width:67.2%; }
.col6	{ width:13.33%; }
.col5-6	{ width:82.67%; }
.col2,.col3,.col2-3,.col3-4,.col4,.col5,.col2-5,.col3-5,.col4-5,.col6,.col5-6{
	position:relative; margin-right:4% !important; float:left;
}
.last{
	margin-right:0 !important;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0px;
}


/* ------------------------------------------------------------------------------------------
Forms
------------------------------------------------------------------------------------------ */
input, textarea {
	padding:0 12px;
	height:38px;
	line-height:38px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #dfdfdf;
	outline-color: #931d5a;
	margin: 10px 0;
}
textarea {	
	height: 120px;
}

select.selectpicker {
	display: block !important;
    border: 2px solid #A5A6A6;
    padding: 20px;
    font-size: 18px;
    color: #A5A6A6;
    letter-spacing: 1.3px;
    font-family: "fira-sans",sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 75px;
    width: 100%;
    background: transparent;
}

/* ------------------------------------------------------------------------------------------
Responsive Table Elements
------------------------------------------------------------------------------------------ */
.mwi-table {
	display: table;
	width: 100%;
	position: relative;
	margin-bottom:30px;
}
.mwi-table ul {
	display: table-row;
}
.mwi-table ul li {
	display: table-cell;
	padding: 5px 8px;
	font-size: 14px;
}
.mwi-table .th {
	background-color: #eee;
}
.mwi-table .tr li {
	border-bottom: 1px dashed #ddd;
}
.mwi-table .tr li span {
	display: none;
}
.mwi-table .tf {
	background-color: #eee;
	position: relative;
	text-align: right;
	color: #233046;
}
.mwi-table .tf li {
	font-weight: 600;
}
.mwi-table .tf span {
	background-color: #fff;
	padding: 4px 4px 4px 30px;
	color: #9cc563;
}
.mwi-table .title {
	background-color: #aaa;
	color: #fff;
	text-align: center;
}
@media (max-width:660px) {
	.mwi-table, .mwi-table ul, .mwi-table ul li {
		display: block;
		margin: 0 !important;
	}
	.mwi-table {
		margin-bottom: 30px !important;
	}
	.mwi-table ul {
		margin-bottom: 10px !important;
	}
	.mwi-table ul li {
		display: block;
	}
	.mwi-table .title {
		height: 30px;
		text-align: center;
		border-bottom: 1px solid #fff;
		width: 100%;
	}
	.mwi-table .title li {
		display: inline-block;
		float: left;
	}
	.mwi-table .title li:last-child {
		float: right;
	}
	.mwi-table .th {
		display: none;
	}
	.mwi-table .tr {
		border-bottom: 2px solid #aaa;
	}
	.mwi-table .tr:last-child {
		border: none;
	}
	.mwi-table .tr li {
		text-align: right !important;
		position: relative;
		padding-left: 50%;
		border-top: 1px dashed #ddd;
		border-bottom: none;
	}
	.mwi-table .tr li span {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #888;
		color: #fff;
		line-height: 30px;
		height: 100%;
		width: 40%;
		padding-right: 10px;
	}
	.mwi-table .tf li {
		padding: 0;
	}
	.mwi-table .tf li:last-child {
		padding: 10px;
	}
}

/* ------------------------------------------------------------------------------------------
Responsive Table HTML
------------------------------------------------------------------------------------------ *
<div class="mwi-table">
	<ul class="th">
		<li>First</li>
		<li>Last</li>
	</ul>
	<ul class="tr">
		<li>Ryan</li>
		<li>Doss</li>
	</ul>
	<ul class="tf">
		<li class="span-all">Footer Content</li>
	</ul>
</div>


/* ------------------------------------------------------------------------------------------
Navigation
------------------------------------------------------------------------------------------ */

#nav {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	font-weight:100;
	letter-spacing:2px;
	font-size: 18px;
	text-transform: uppercase;
}

#logo {
	margin-left: 50px;
	float: left;
	width: 200px;
    height: 79px;
	display: block;
	position: relative;
	background: url(../img/aspirelogo.png);
}

nav #logo img.white {
    display: none;
}

nav.navcolor #logo img.white {
    display: block;
}

nav.navcolor #logo img.reg {
    display: none;
}

nav {
	position: fixed;
	height: 80px
	transition: all 0.5s ease;
	float: right;
	width: 100%;
	padding: 15px 0;
}
@media (max-width:1024px){
	nav{
		padding:10px 0px;
	}
	#logo{
		margin-left:20px;
	}
}
nav ul {
	list-style: none;
	position: relative;
	margin: 0;
	float: right;
}

nav li {
	display: inline-block;
	padding: 0;
	margin-right: 15px;
}

@media (max-width:1200px) {
    nav li {
        margin-right: 12px;
    }
}

nav ul > li > a {
	color: #fff;
	position: relative;
	display: block;
	padding: 0 25px;
	line-height: 80px;
	height: 16.6666666%;
	height: 16.6666666vh;
	max-height: 80px;
	line-height: 80px;
}

@media (max-width: 992px) and (max-height: 480px) {
	nav ul > li > a {
		height: 16.6666666%;
		height: 16.6666666vh;
		max-height: 80px;
		line-height: 16.666666vh;
		padding: 0 15px;
	}
}

nav li:hover,
nav li:focus {
	background-color: #931d5a;
}

.navcolor {
	transition: background 0.8s ease;
	background: #931d5a;
}

@media (max-width:1350px){
	nav ul li a{
		padding:0 10px;
	}
}
@media (max-width:1150px){
	nav ul li a{
		padding:0 5px;
		font-size:16px;
	}
}

/* Utility Nav
--------------------------------------------- */
.relative-wrap {
	position: relative;
}


/* Main Nav
--------------------------------------------- */



/* Mobile Nav
--------------------------------------------- */
.mobile {
	position: fixed;
	z-index: 100;
	top:0;
	width:250px;
	height:100%;
	overflow: auto;
	background-color:#232323;
	transition:all 200ms;
	right: -250px;
}
.mobile.active {
	right:0;
}
.mobile ul {
	list-style: none;
}
.mobile ul li.inline {
	width:50%;
	display: inline-block;
	margin:0 -2px;
	text-align: center;
}
.mobile ul li.inline:first-of-type {
	border-right:solid 1px #333;
}
.mobile ul li.inline a {
	padding:20px 0;
	font-size:28px;
}
.mobile ul li a {
	color:#fff;
	font-size:14px;
	text-transform: uppercase;
	display: block;
	
	border-bottom:solid 1px #333;
}
.mobile ul li a:hover {
	background-color:#333;
	border-bottom:solid 1px #444;
}


/* Mobile Button */
.mobile-btn {
	display:none;
	width:40px;
	height:35px;
	top:30px;
	transition:all 500ms;
	position:fixed;
	float:right;
	z-index:2000;
	right:20px;
	cursor: pointer;
}
.mobile-btn span {
	content:"";
	width:80%;
	height:3px;
	display:block;
	background-color:#fff;
	position:absolute;
	left:50%;
	margin-left:-40%;
	transition:all 500ms;
}
.mobile-btn span:nth-child(1) {
	top:8px;
}
.mobile-btn span:nth-child(2) {
	top:16px;
}
.mobile-btn span:nth-child(3) {
	top:24px;
}
.mobile-btn.active {
	transform:rotate3d(0, 0, 1, 180deg);
}
.mobile-btn.active span:nth-child(1) {
	transform:rotate3d(0,0,1,45deg) translate(5.5px,5.5px);
}
.mobile-btn.active span:nth-child(2) {
	opacity:0;
}
.mobile-btn.active span:nth-child(3) {
	transform:rotate3d(0,0,1,-45deg) translate(5.8px,-5.7px);
}
@media (max-width:1024px) {
	.mobile-nav{
		display:none;
	}
	.mobile-nav.active{
	display: block !important;
	}
	.mobile-btn {
		display:block !important;
	}
	.mobile-btn.active{
		right:270px;
	}
	#main ul {
		display:none;
	}
}



/* ------------------------------------------------------------------------------------------
Global Style
------------------------------------------------------------------------------------------ */

.pt-5 {
	padding-top: 10px;
}

.pt-10 {
	padding-top: 10px;
}

.pt-15 {
	padding-top: 15px;
}

.pt-20 {
	padding-top: 20px;
}

.pt-30 {
	padding-top: 30px;
}

.pt-40 {
	padding-top: 40px;
}

.pt-50 {
	padding-top: 50px;
}

.pt-60 {
	padding-top: 60px;
}

.pt-70 {
	padding-top: 70px;
}

.pt-80 {
	padding-top: 80px;
}

.pt-90 {
	padding-top: 90px;
}

.pt-100 {
	padding-top: 100px;
}

.pb-5 {
	padding-bottom: 10px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pb-15 {
	padding-bottom: 15px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pb-70 {
	padding-bottom: 70px;
}

.pb-80 {
	padding-bottom: 80px;
}

.pb-90 {
	padding-bottom: 90px;
}

.pb-100 {
	padding-bottom: 100px;
}

.center {
	text-align: center !important;
}

.color-g { 
	color: #c0cf3f !important;
}

/* Header
--------------------------------------------- */
header {
	width: 100%;
	background-size: cover;
	background-position: 25% center;
	height: 800px;
	position:relative;
	display: table !important;
}

@media (max-width: 480px) {
	header {
		height: 100vh;
	}
}
header article{
	display: table-cell;
    vertical-align: middle;
}
@media (max-width: 480px) {
	header article {
		display: block;
		margin-top: 80%;
	}
}
header .cta-wrap {
	display: block; 
    margin: 0 auto !important;
    width: 100%;
    padding: 0 15px;
	max-width: 1000px;
}

.featured{
	color:#fff;
	font-style:italic;
	font-size:24px;
	padding-bottom:10px;
	border-bottom:2px solid #fff;
	letter-spacing: 1px;
	font-family:'ff-tisa-web-pro', sans-serif;
	width:188px;
	margin-bottom:0px !important;
}
header h2{
	font-size:65px;
	margin:0px;
	color:#fff;
	font-weight:100;
	letter-spacing:2px;
}

@media (max-width: 480px) {
	header h2 {
		font-size: 38px;
	}
}
header .sub-line{
	margin:0px !important;
	color:#fff;
	font-weight:100;
	letter-spacing:1px;
	font-size:18px;
	margin-bottom:30px !important;
}
.sbtn{
	border:2px solid #e7a188;
	padding:10px 20px;
	color:#fff;
	letter-spacing:1px;
}
header h1 {
	color: #fff;
	font-weight: 100;
}
header #logo img{
	margin-left:50px;
}
.no-bar{
	display:block;
}
.no-bar.active{
	display:none !important;
}
.bar{
	display:none;
}
.bar.active{
	display:block !important;
}
.sub{
	background-color:#931d5a;
	height:0px;
	line-height: auto !important;
	overflow:hidden;
	padding:0px !important;
}
.sub li{
	border-top:1px solid #fff;
	margin-right:0px !important;
}
.sub-show{
	height:auto !important;
}
@media (max-width:1024px){
	.mobile-nav ul{
		padding-left:0px !important;
		float:left;
		width:100%;
	}
	.mobile-nav ul li{
		display: block !important;
		width: 100% !important;
	}
	.mobile-nav ul li a{
		padding-left:10px;
	}
	.sub{
		position:relative !important;
		display:block !important;
		height:auto !important;
	}
	
}
.sub-page header{
	padding:15% 0 !important;
}
.sub-page header h2{
	font-size:55px !important;
	text-align:center;
	font-weight:100;
	text-transform: uppercase;
}

#deadlinebanner {
	height: 50px;
	width: 100%;
	background-color: white;
}
#deadlinebanner p {
	text-align: center;
	color: black;
	font-size: 20px;
	position: relative;
	height: 100%;
	margin: 0;
	top:50%;
left:50%;
transform:translate(-50%, -30%);
}

/* 
--------------------------------------------- */

/* Content
--------------------------------------------- */



/* Footer
--------------------------------------------- */
footer {
	width: 100%;
	background-color: #ebebeb;
	text-align: center;
	list-style: none;
	text-transform: uppercase;
    font-family: "ff-tisa-web-pro",serif;
    font-style: normal;
    font-weight: 400;
	font-size: 14px;
	color: #bcbbbb;
	letter-spacing: 2px;
}

footer .container {
	padding-bottom: 0;
}

footer ul {
	padding-left: 0;
}

footer li {
	display: inline-block;
	position: relative;
	margin: 0 10px;
}

@media (max-width: 480px) {
	footer li {
	    margin: 0 6px;
    	font-size: 13px;
	}
	footer .pb-50 {
		padding-bottom: 30px;
	}
}

footer img {
	margin: 0 auto;
	display: block;
}

footer a:hover {
	color: #868686;
}

/* ------------------------------------------------------------------------------------------
Layout Specific styles 
------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------
Sub Page Content Section
------------------------------------------------------------------------------------------ */
.content p{
	font-family:'ff-tisa-web-pro', sans-serif !important;
	font-size:18px !important;
	line-height:32px !important;
	margin-bottom:30px;
	
}
.sub-content-section h2{
	letter-spacing: 3px;
	font-size:35px;
	font-weight:600;
	margin-bottom:50px;
	margin-top:0px;
}

/* Home
--------------------------------------------- */

/*-------------------------------------------------------------------------ABOUT SECTION-------------------------------------------------------------------------------*/
#about {
	background-image: url('/assets/img/about.png');
	width: 100%;
	min-height: 1px;
	background-size: cover;
}

#about h2 {
	color: #fff;
	margin: 0;
	font-weight: 100;
	font-size: 60px;
}

@media (max-width: 480px) {
	#about h2 {
		font-size: 32px;
	}
}

#about p {
	color: #fff;
	letter-spacing: 3px;
}

/*-------------------------------------------------------------------------APPLY SECTION-------------------------------------------------------------------------------*/

#apply {
	width: 100%;
	min-height: 1px;
}

#apply h1 {
	font-size: 60px;
	font-weight: 100;
}

@media (max-width: 480px) {
	#apply h1 {
		font-size: 32px;
	}
}

#apply p {
	color: #868686;
	letter-spacing: .7px;
	line-height: 28px;
	margin-right: 12%;
	margin-left: 12%;
}

#applyicons {
	margin: 0;
	padding: 0;
	list-style: none;
}

#applyicons li {
	display: inline-block;
	width: 22%;
	margin: 0;
	padding: 0;
	position: relative;
	vertical-align: middle;
}

#applyicons li p {
	margin: 10px;
}

#applyicons span {
	position: relative;
}

#applyicons span:last-of-type {
	display:none;
}

@media (max-width: 1200px) {
	#applyicons span {
		display: none;
	}
	#applyicons li {
		width: 31%;
	}
}

@media (max-width: 769px) {
	#applyicons li {
	    width: 100%;
	    padding-bottom: 50px;
	}
}

#apply a.btn {
	max-width: 300px;
	width: 100%;
}

.btn {
	border-radius: 0;
	font-family: "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
	padding: 8px 37px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	outline: 0;
}

.btn.btn-round {
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}

.btn.btn-circle {
	-webkit-border-radius: 30px;
	   -moz-border-radius: 30px;
	        border-radius: 30px;
}

.btn.btn-w {
	background: rgba(255, 255, 255, .8);
	color: #111;
}

.btn.btn-w:hover,
.btn.btn-w:focus {
	background: rgba(255, 255, 255, 1);
	color: #111;
}

.btn.btn-g {
	background: #e5e5e5;
	color: #111;
}

.btn.btn-g:hover,
.btn.btn-g:focus {
	background: #d8d8d8;
	color: #111;
}

.btn.btn-border-w {
	background: transparent;
	border: 3px solid #f69168;
	color: #fff;
	font-size: 15px;
	transition: all 0.5s ease 0s;

}

.btn.btn-border-g {
	background: transparent;
	border: 3px solid #c0cf3f;
	color: #fff;
	font-size: 15px;
	transition: all 0.5s ease 0s;
}

.btn.btn-color-g {
	background: #c0cf3f;
	border: 3px solid #c0cf3f;
	color: #fff;
	font-size: 15px;
	transition: all 0.5s ease 0s;
}
.btn.btn-color-r {
	
	border: 3px solid #d51d1d;
	color: #fff;
	font-size: 15px;
	transition: all 0.5s ease 0s;
	background-color: #d51d1d;
}

.btn.btn-color-r:hover {
	background: #fff;
	color: #d51d1d;
}
.btn.btn-color-gray {
	background: #ddd;
	border: 3px solid #ddd;
	color: #fff;
	font-size: 15px;
	transition: all 0.5s ease 0s;
}
.btn.btn-color-gray:hover {
	background: #fff;
	color: #ddd;
}


.btn.btn-color-g:hover {
	background: #fff;
	color: #c0cf3f;
}

.btn.btn-border-g:hover {

}

.btn.btn-color-p {
	background: #f69168;
	color: white;
    font-size: 10px;
    letter-spacing: 1px;
    transition: all 0.5s ease 0s;
    height: 33px;
    padding: 8px 0 !important;
}

.btn.btn-color-p:hover,
.btn.btn-color-p:focus {
	border: 3px solid #f69168;
	color: #f69168;
	background: transparent;
    padding: 6px 25px;
    font-size: 10px;
    letter-spacing: 1px;
    transition: all 0.5s ease 0s;
    height: 33px;
        padding: 6px 0 !important;
}

.btn.btn-border-w:hover,
.btn.btn-border-w:focus {
	background: #f69168;
	border-color: #f69168;
	color: #fff;
}

.btn.btn-d {
	background: rgba(17, 17, 17, .8);
	color: #fff;
}

.btn.btn-d:hover,
.btn.btn-d:focus {
	background: rgba(17, 17, 17, 1);
}

.btn.btn-b {
	background: rgba(17, 17, 17, 1);
	color: #fff;
}

.btn.btn-b:hover,
.btn.btn-b:focus {
	background: rgba(17, 17, 17, .8);
}

.btn-border-d {
	background: transparent;
	border: 1px solid rgba(17, 17, 17, 1);
	color: #111;
}

.btn.btn-border-d:hover,
.btn.btn-border-d:focus {
	background: rgba(17, 17, 17, 1);
	color: #fff;
}


.btn.btn-font-w {
	background: rgba(255, 255, 255, .8);
	color: #fff;
}
.btn.btn-font-w:hover {
	background: #fff;
	color: #111;
}

/* Buttons size */

.btn.btn-lg {
	padding: 12px 45px;
	font-size: 13px;
}

.btn.btn-sm {
	padding: 6px 25px;
	font-size: 10px;
	letter-spacing: 1px;
}

.btn.btn-xs {
	padding: 4px 19px;
	font-size: 10px;
	letter-spacing: 0;
}


body, html {
	background-color: #fff;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 100% !important;
}

/* Sub page styles 
------------------*/
/*NOTE ALL FONTS ARE AVALIABLE - CHANGE FONTWEIGHT*/
.font-light {
	font-family: "ff-tisa-web-pro",serif !important;
	font-style: normal !important;
	font-weight: 400 !important;
}
.font-light-em {
	font-family: "ff-tisa-web-pro",serif !important;
	font-style: italic !important;
	font-weight: 400 !important;
}
.font-bold {
	font-family: "ff-tisa-web-pro",serif !important;
	font-style: normal !important;
	font-weight: 700 !important;
}
​.font-bold-em {
	font-family: "ff-tisa-web-pro",serif !important;
	font-style: italic !important;
	font-weight: 700 !important;
}
.font-sans-light {
	font-family: "fira-sans",sans-serif !important;
	font-style: normal !important;
	font-weight: 100 !important;
}
.font-sans-bold {
	font-family: "fira-sans",sans-serif !important;
	font-style: normal !important;
	font-weight: 500 !important;
}
.flush {
	padding-left: 0;
	padding-right: 0;
}
strong {
	font-family: "ff-tisa-web-pro",serif !important;
	font-style: normal !important;
	font-weight: 700 !important;
}
h2, h3 {
	font-family: "fira-sans",sans-serif;
	font-style: normal;
	font-weight: 500;
}
h5, h6 {
	font-family: "ff-tisa-web-pro",serif;
	font-style: italic;
	font-weight: 700;
	font-size: 15px;
	color: #7F7F7F;
}
ol, ul {
	font-family: "ff-tisa-web-pro",serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}
li {
	line-height: 2;
    letter-spacing: .7px;
    line-height: 2;
    font-size: 15px;
}
.sub-page header {
	height: 600px;
	background-size: cover;
	background-position: 20% 50%;
	display: table;
	padding: 0 !important;
}
@media (max-width: 480px) {
	.sub-page header {
		height: 480px;
		height: 100vh;
	}
}
.sub-page header h2 {
	display: table-cell;
	vertical-align: middle;
	padding: 0 5%;
}
@media (max-width: 992px) {
	.sub-page header h2 {
		font-size: 36px !important;
		max-width: 90%;
		margin: 0 auto;
	}
}
@media (max-width: 768px) {
	.sub-page header h2 {
		font-size: 28px !important;
		padding: 0 15px;
	}
}
.gradient-overlay {
    overflow: hidden;
    position: relative;
}
.blurry-bg {
  -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari */
    transform: scale(1.1);
  display: block;
  width: 100%;
  height: 1500px;
  
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  position: relative;
}
.blurry-bg:before {
	content:'';
	position: absolute;
	top:30%;
	left:0;
	right:0;
	bottom: 0;
	background: -webkit-linear-gradient(top, rgba(255,0,0,0), rgba(255,255,255,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(255,0,0,0), rgba(255,255,255,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(255,0,0,0), rgba(255,255,255,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,255,255,1)); /* Standard syntax (must be last) */
}
/*.getin-wrap,
.submit-wrap,
.input-wrap,
.text-input-wrap,
.dd-wrap,
.radio-wrap  {
    position: absolute;
    left: 0;
    width: 100%;
}
.getin-wrap {
    top: 90px;
}
.input-wrap {
    top: 266px;
}
.submit-wrap {
    top: 550px;
}
.text-input-wrap {
	top: 750px;
}
.dd-wrap {
	top: 1200px;
}
.radio-wrap {
	top: 1350px;
}*/
.getin-container {
	max-width: 500px;
	margin: 0 auto 60px auto;
	display: block;
}

.getin-md-container {
	margin: 0 auto 60px auto;
	display: block;
}
.btn.primary {
	padding:20px 10px;
	color: white;
	text-align: center;
	width: 100%;
	max-width: 200px;
	border-radius: 0;
	font-size: 28px;
	text-transform: none;
	font-family: "ff-tisa-web-pro",serif;
	font-style: normal;
	font-weight: 400;
}
.btn-color-primary{
	background: #A74972;
	color: white;
	border: 3px solid #A74972 !important;
	color: #fff;
	font-size: 15px;
	transition: all 0.5s ease 0s;
}
.btn-color-primary:hover{
	background: white !important;
	color: #A74972 !important;
}
.solid {
	background: #F79169;
	border: 3px solid #F79169;
	margin: 0 auto;
	display: block;
}
.transparent {
	border: 3px solid #F79169;
	background: transparent;
	margin: 0 auto;
	display: block;
	font-family: "ff-tisa-web-pro",serif;
	font-style: normal;
	font-weight: 400;
}
.transparent-purple {
	border: 3px solid #A74972;
	background: transparent;
	font-family: "ff-tisa-web-pro",serif;
	font-style: normal;
	font-weight: 400;
}
.solid-light-purple {
	border: 3px solid #A74972;
	background: #A74972;
	font-family: "ff-tisa-web-pro",serif;
	font-style: normal;
	font-weight: 400;
}
.solid-purple {
	border: 3px solid #931D5A;
	background: #931D5A;
	font-family: "ff-tisa-web-pro",serif;
	font-style: normal;
	font-weight: 400;
}
input.login {
	width: 100%;
	background: rgba(0, 0, 0, .25) !important;
	border: 0;
	box-shadow: none;
	font-size: 32px;
	color: white;
    font-family: "fira-sans",sans-serif;
	font-style: normal;
	font-weight: 100;
    padding: 45px 45px 45px 95px;
    margin-bottom: 45px;
}
.login-relative-group {
	position: relative;
}
.login-relative-group .icon {
	position: absolute;
	z-index: 9;
	left: 30px;
    top: 24px;
    font-size: 42px;
	color: white;
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.login-relative-group .icon.lock {
	left: 40px;
}
input.login:focus {
	border: none;
	outline-color: black !important;
}
input.login::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
input.login::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
input.login:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
input.login:-moz-placeholder { /* Firefox 18- */
  color: white;
}

input,
textarea {
	width: 100%;
	border: 2px solid #A5A6A6;
	padding: 20px;
	font-size: 18px;
	color: #6C6C6C;
	margin-bottom: 45px;
	letter-spacing: 1.3px;
	font-family: "fira-sans",sans-serif;
	font-style: normal;
	font-weight: 400;
}

.sub_filename input[type="file"] {
    line-height: 10px;
    padding: 25px 20px;
    margin: 0 !important;
}	

input[type="file"] {
	outline-color: #931d5a !important;
}

@media (max-width: 480px) {
	input,
	textarea {
		font-size: 18px;
		padding: 15px;
	}
}
input {
	min-height: 75px;
}
textarea {
	line-height: 1.5;
	min-height: 230px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
    border: 2px solid #A5A6A6;
    font-size: 32px;
    color: #A9A9A9;
    margin-bottom: 45px;
    letter-spacing: 1.3px;
    font-family: "fira-sans",sans-serif;
	font-style: normal;
	font-weight: 400;
}
.primary-select button.btn {
	width: 100%;
	color: #A9A9A9;
	border: 0 !important;
	border-radius: 0 !important;
	outline: 0 !important;
	letter-spacing: 1.3px;
	font-family: "fira-sans",sans-serif;
	font-style: normal;
	font-weight: 400;
}
.primary-select span.text {
	font-family: "fira-sans",sans-serif;
	font-style: normal;
	font-weight: 400;
}
.primary-select button.btn.dropdown-toggle.btn-default {
    padding: 17px 20px;
    font-size: 28px;
    outline: 0 !important;
    text-transform: none;
    letter-spacing: 1.3px;
}
.primary-select button.btn.dropdown-toggle.btn-default:hover,
.primary-select button.btn.dropdown-toggle.btn-default:focus,
.primary-select button.btn.dropdown-toggle.btn-default:active, {
	background: #f3f3f3;
	color: #A5A6A6 !important;
	letter-spacing: 1.3px;
}
.primary-select button.btn.dropdown-toggle.btn-default:focus,
.primary-select button.btn.dropdown-toggle.btn-default:active {
	outline-color: #f0433f !important;
}
.primary-select .dropdown-menu ul li a,
.primary-select .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	padding: 20px;
	font-size: 24px;
	color: #A5A6A6;
	letter-spacing: 1.3px;
}
.primary-select .dropdown-menu ul li.selected a {
	outline: 0 !important;
	letter-spacing: 1.3px;
}
.primary-select.bootstrap-select.btn-group .dropdown-toggle .caret {
    border-top: 10px dashed !important;
    border-top: 10px solid \9 !important;
    border-right: 10px solid transparent !important;
    border-left: 10px solid transparent !important;
    position: absolute;
    top: 50%;
    right: 32px !important;
    margin-top: -2px;
}
/*RADIOS*/
.radio-wrap label.btn span {
  font-size: 1.5em ;
}

.radio-wrap label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
.radio-wrap label input[type="radio"] ~ i.fa.fa-check-circle-o{
    display: none;
}
.radio-wrap label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
.radio-wrap label input[type="radio"]:checked ~ i.fa.fa-check-circle-o{
    color: #931d5a;    display: inline;
}
.radio-wrap label:hover input[type="radio"] ~ i.fa {
	color: #931d5a;
}


.radio-wrap label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;
    display: inline;
}
.radio-wrap label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
.radio-wrap label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
.radio-wrap label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #931d5a;
    display: inline;
}
.radio-wrap label:hover input[type="checkbox"] ~ i.fa {
	color: #931d5a;
}

.radio-wrap div[data-toggle="buttons"] label.active{
    color: #931d5a;
}

.radio-wrap div[data-toggle="buttons"] label {
	display: inline-block;
	padding: 6px 12px;
	font-family: "ff-tisa-web-pro",serif;
	font-style: normal;
	font-weight: 400;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 2em;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	cursor: pointer;
	background-color: none;
	border: 0px solid 
	#c8c8c8;
	border-radius: 3px;
	color: #c8c8c8;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.radio-wrap div[data-toggle="buttons"] label:hover {
	color: #931d5a;
}

.radio-wrap div[data-toggle="buttons"] label:active, .radio-wrap div[data-toggle="buttons"] label.active {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.radio-container,
.radio-wrap {
    width: 100% !important;
    margin: 0;
    display: block ;
    max-width: 288px;
}
.radio-container.yes-no {
	max-width: 198px;
}
.sub-content-section .content {
	margin: 40px 0;
}
.content p {
	margin-bottom: 15px;
}
button.primary {
	width: 100%;
	font-family: "fira-sans",sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	padding: 20px 0;
	margin: 45px 0 140px 0;
	border: 0;
	background: #931d5a;
	color: white;
	outline: 0 !important;
}
.mi-es-content h3 {
	margin-bottom: 20px;
}
.mi-es-content p {
	padding: 20px 0;
}
.signature-wrap {
	margin-top: 45px;
}
.add-hh-member,
.add-edu-entry {
	border-left: 4px solid #931d5a;
	position: relative;
}
@media (max-width: 1034px) {
	.add-hh-member,
	.add-edu-entry {
		border-left: 0;
		border-top: 4px solid #931d5a;
		padding: 30px 0 0 0 !important;
	}
}
@media (min-width: 1035px) {
	.close-btn {
		top: 0 !important;
		left: -54px;
	}
}
.close-btn {
	background: #931d5a;
	text-align: center;
	width:50px;
	height:50px;
	padding: 15px;
	color: white;
	position: absolute;
    top: -54px;
	right: 0px;
	z-index: 99;
	cursor: pointer;
}
.add-hh-member,
.add-edu-entry {
	margin-bottom: 40px;
	padding: 0 15px;
}
#signature1,
#signature2,
#signature3 {
	border: 2px solid #A5A6A6;
	margin-bottom: 20px;
}
p.total {
	padding: 10px 0;
	font-size: 28px !important;
	margin:0;
}

/* Success Story
----------------*/
.words-left{
	display:none;
}
#success .file_existing{
	display:none !important;
}

/* Dashboard 
----------------*/
.app-card{
	padding: 2% !important;
	text-align: center;
	border: 1px solid #D2D2D2;
	margin-bottom: 30px;
	position: relative;
}
@media (max-width: 992px) {
	.app-card {
		padding-top: 40px !important;
	}
}
@media (max-width: 769px) {
	.app-card {
		padding-top: 2% !important;
	}
}
@media (max-width: 600px) {
	.app-card {
		padding-top: 40px !important;
	}
}

.app-card .btn {
	width: 100%;
    clear: both;
    max-width: 370px;
    padding: 10px 25px;
    font-size: 13px;
    margin-top: 10px;
    letter-spacing: 1.3px;
}
.del-entry {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	text-align: center;
    padding: 6px 0;
    font-size: 19px;
	background: #931d5a;
	color: white;
	cursor: pointer;
}
.del-entry i {
	margin: 0 !important;
	position: static;
}
.app-card h3{
	margin-bottom: 20px !important;
	padding-bottom: 20px;
	border-bottom: 1px solid #D2D2D2;
}
.app-card i{
	margin-right: 10px;
	position: relative;
	top: 5px;
}
.app-card ul{
	list-style: none !important;
	padding-left: 0px !important;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.app-card li{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom
}
.app-card li a{
	color: #7F7F7F;
	text-decoration: underline;
}
.app-card li a:hover{
	color: #444;
	text-decoration: underline;
}
.app-card .success i{
	color: #c0cf3f !important;
}

.dash-nav{
	width: 100%;
	padding: 0 2%;
	background: #BCBBBB;
}
.dash-nav ul{
	list-style: none;
	text-align: center;
	margin-bottom: 0;
	padding-left: 0;
}
.dash-nav ul li{
	display: inline-block;
}
@media (max-width: 992px) {
	.dash-nav {
		padding: 0 !important;
	}
	.dash-nav ul li {
		width: 33%;
	}
	.dash-nav ul li a {
		width: 100%;
	}
}

@media (max-width: 769px) {
	.dash-nav ul li {
	    width: 49.7%;
	}
}

@media (max-width: 610px) {
	.dash-nav ul li {
	    width: 100%;
	}
}

.dash-nav ul li a{
	padding: 10px 20px;
	display: inline-block;
	color: white;
    font-family: "ff-tisa-web-pro",serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
}
.dash-nav ul li a:hover,
.dash-nav ul li a:focus{
	padding: 10px 20px;
	background: #999;
	color: white;
}

.available-times{
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.available-times a.btn{
	position: relative;
	top: -7px;
}
.ui-cancel-review{
	display: inline block;

}
td a,td button{
	float: left;
	margin-right: 5px;
}

.app-completes{
	display: inline;
	float: left;
}
.denied{
	color: #d51d1d;
}

@media (max-width: 600px) {
	.available-times h4{
		text-align: center;
	}
	.available-times a.btn{
		float: none !important;
		display: block;
		top: 10px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
}

.bg-gray {
	background: #EBEBEB;
}

.history {
	width: 100%;
	max-width: 769px;
    margin: 0 auto !important;
    display: block !important;
}

.history p,
.primary-wrap p {
    color: #868686;
    letter-spacing: .7px;
    line-height: 2;
    text-align: center;
    font-size: 15px;
}

.history h2,
.board h2,
.staff h2,
.primary-wrap h2 {
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    color: #c0cf3f;
    margin: 0;
    margin-bottom: 20px;
}

@media (max-width: 480px) {
	.history h2,
	.board h2,
	.staff h2,
	.primary-wrap h2 {
		font-size: 48px;
	}
}

.history .divider,
.board .divider,
.staff .divider,
.primary-wrap .divider {
	width: 100%;
	height: 2px;
	max-width: 550px;
	display: block;
	background: #c0cf3f;
	margin: 0 auto 30px auto !important;
}

.contact-list {
	font-size: 11px;
    letter-spacing: 1.3px;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.member-wrap,
.primary-wrap {
	margin-bottom: 30px;
}

.member-wrap {
	min-height:70px;
}

.primary-wrap {
	max-width: 992px;
	width: 100% !important;
	margin: 0 auto !important;
	display: block;
}

.member-wrap img {
	max-width: 350px;
	width: 100%;
	margin: 0 auto;
	display: block;
	height: auto;
}

.member-wrap h4 {
	color: #c0cf3f;
	font-size: 22px;
}

.member-wrap h5 {
	color: #999;
}

.primary-wrap ul {
    margin: 0 auto;
    display: block;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.primary-wrap ul .requirements {
	max-width: 600px;
	margin: 0 auto !important;
	display: block;
}

.primary-wrap ul .requirements li {
	background: #c0cf3f;
	padding: 10px 0;
	margin-top: 20px;
	color: white;
}

.testimonial-slider img.person,
.blog-style img.person {
	max-width: 100px;
	margin: 0 auto 30px auto;
	display: block;
}

.testimonial-slider h4.name,
.blog-style h4.name {
	font-family: "ff-tisa-web-pro",serif;
	font-style: normal;
	font-weight: 400;
	color: #c0cf3f;
	font-size: 26px;
	margin-bottom: 10px;
}

.testimonial-slider p.quote {
	max-width: 550px;
	margin: 0 auto;
	display: block;
	padding: 0 15px;
}

.blog-style p.quote {
    letter-spacing: .7px;
    line-height: 1.25;
}

.testimonial-slider h5,
.blog-style h5 {
	color: #7F7F7F;
}

.testimonial-slider {
	height: 480px;
}

.testimonial-slider .owl-controls {
    position: absolute;
    width: 100%;
    max-width: 80%;
    left: 10%;
    top: 50%;
    font-size: 32px;
    color: #c0cf3f;
}

@media (max-width: 1200px) {
	.testimonial-slider .owl-controls {
		max-width: 100%;
		width: 100%;
		left: 0;
	}
}

.testimonial-slider a.btn,
.blog-style a.btn {
    max-width: 175px;
    width: 100%;
    padding: 10px 0;
    float: none;
    margin: 20px auto 0 auto !important;
    display: block;
}

@media (max-width: 992px) {
	.blog-style a.btn {
		margin-bottom: 30px;
	}
}

.testimonial-inner-wrap {
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
	display: block;
}


.testimonial-slider .owl-nav {
	position: relative;
}

.testimonial-slider .owl-prev,
.testimonial-slider .owl-next {
	position: absolute;
}

.testimonial-slider .owl-prev {
	left: 10px;
}

.testimonial-slider .owl-next {
	right: 10px;
}

.owl-carousel .owl-wrapper-outer{
    z-index: 1;  // added this
}

.owl-item { transform: translateZ(0); -webkit-transform: translateZ(0); -ms-transform: translateZ(0); }

ul.donate-benifits {
	text-align: left;
	padding: 0 15px;
}

ul.donate-benifits li {
	list-style-type: circle;
}

.donate-type-wrap {
    border: 2px solid #999;
    padding: 40px;
    max-width: 420px;
    margin: 30px auto 0 auto;
    display: block;
}

@media (max-width: 480px) {
	.donate-type-wrap {
		padding: 20px;
	}
}

.donate-type-wrap input {
	margin-bottom: 0;
}

.donate-type-wrap h3 {
	margin-top: 0;
	font-size: 32px;
}

.donate-type-wrap .divider,
.donate-wrap .divider {
	width: 100%;
	height: 2px;
	max-width: 550px;
	display: block;
	background: #c0cf3f;
	margin: 20px auto !important;
}

.donate-type-wrap button {
	width: 100%;
	margin-top: 20px;
	font-size: 18px !important;
}

@media (max-width: 480px) {
	.dontat-type-wrap button {
		width: 100%;
	}
}

.donate-type-wrap input:focus {
	outline-color: #c0cf3f !important;
}

.donate-wrap h2 {
	font-size: 60px;
    font-family: "fira-sans",sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #c0cf3f;
    margin: 0;
    margin-bottom: 30px;
}

@media (max-width: 769px) {
	.donate-wrap h2 {
		font-size: 48px;
	}
}

@media (max-width: 480px) {
	.donate-wrap h2 {
		font-size: 36px;
	}
}

.contact-wrap input:focus,
.contact-wrap textarea:focus {
	outline-color: #c0cf3f !important;
}

@media (max-width: 480px) {
	.contact-wrap button {
		width: 100%;
	}
}

.footer-nav .divider {
	width: 100%;
	height: 1px;
	max-width: 666px;
	display: block;
	background: #D2D2D2;
	margin: 10px auto;
	display: block;
}

@media (max-width: 769px) {
	.footer-nav .divider {
		max-width: 85%;
	}
	footer li a {
		font-size: 12px;
	}
	footer li {
		margin: 0 5px;
	}
}

@media (max-width: 1200px) {
	table.dataTable {
		width: 1180px !important;
	}
}

.dataTables_wrapper button.btn,
.dataTables_wrapper a.btn {
	width: 105px !important;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
	outline: 0 !important;
}

.contact-wrap a {
    font-size: 18px;
    color: #7F7F7F;
}

@media (max-width: 769px) {
	.contact-wrap p {
		text-align: center !important;
		font-size: 18px;
	}
}

.contact-list a.phone-number {
	font-size: 17px;
}

.radio-wrap-center {
    margin: 0 auto;
    display: block;
    max-width: 223px !important;
}

.sticky-comments {
	position: fixed;
	z-index: 99;
	bottom: 0;
	left:0;
	width: 100%;
	height: 100px;
	background: #999;
	border-top: 2px solid #999;
	-webkit-transition: all .25s ease;
	    -moz-transition: all .25s ease;
	    -o-transition: all .25s ease;
	    transition: all .25s ease;
}

@media (max-width: 992px) {
	.sticky-comments {
		z-index: -9;
		opacity: 0;
		-webkit-transition: all .25s ease;
	    -moz-transition: all .25s ease;
	    -o-transition: all .25s ease;
	    transition: all .25s ease;
	}
	.sticky-comments.show {
		z-index: 999;
		opacity: 1;
		-webkit-transition: all .75s ease;
	    -moz-transition: all .75s ease;
	    -o-transition: all .75s ease;
	    transition: all .75s ease;
	}
}
.sticky-comments textarea.ui-comment {
    padding: 5px;
    margin: 0;
    border: 0;
    height: 100px;
    width: 90%;
    max-height: 100px;
    height: 100px !important;
    min-height: 100px;
    float: left;
    border-right: 2px solid #999;
    outline: 0 !important;
    resize: none;
}

.sticky-comments button {
    float: left;
    width: 10%;
    height: 72px;
    padding: 0;
}

.sticky-comments .view-all-comments {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 25px;
    padding: 2px 0;
    font-size: 12px;
    width: 10%;
}


@media (max-width: 1200px) {
	.sticky-comments textarea.ui-comment {
		width: 80%;
	}
	.sticky-comments button,
	.sticky-comments .view-all-comments {
		width: 20%;
	}
}

@media (max-width: 480px) {
	.sticky-comments textarea.ui-comment {
		width: 70%;
	}
	.sticky-comments button,
	.sticky-comments .view-all-comments {
		width: 30%;
	}
}

div#toggleComments {
    width: 140px;
    height: 40px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    background: white;
    border: 2px solid #999;
    border-left: 0;
    border-bottom: 0;
    color: #999;
    padding: 6px 8px;
    font-size: 19px;
    cursor: pointer;
    display: none;
}

#toggleComments.move {
	bottom: 100px;
	-webkit-transition: all .75s ease;
	    -moz-transition: all .75s ease;
	    -o-transition: all .75s ease;
	    transition: all .75s ease;
}

#toggleComments p {
	position: absolute;
	font-size: 18px !important;
    z-index: 999;
    top: 4px;
    left: 32px;
}
.testimonial-slider .photo-student{
	max-width: 200px;
	margin: 0px auto;
	padding: 0;
	height: 200px;
}
div.photo-student{
	padding: 40% 0;
	background-position: center;
	background-size: cover !important;
	
}

@media (max-width: 992px) {
	#toggleComments {
		display: block !important;
	}
	.sticky-comments {
		display: none !important;
	}
	.sticky-comments.show {
		display: block !important;

	}
}


p.fi-label {
	max-width: 220px;
}

.fam-change-explain,
.upload-file-wrap {
	padding: 0 15px;
}

@media (max-width: 991px) {
	p.fi-label {
		text-align: left !important;
		padding-left: 15px;
	}
}

.donate-type-wrap .card-number {
	margin-bottom: 10px;
}

.bootstrap-select.card-month,
.bootstrap-select.card-year {
	margin: 8px 0 !important;
	padding: 0;
}

.bootstrap-select.card-month button span,
.bootstrap-select.card-year button span {
	letter-spacing: .7px;
}

.bootstrap-select.card-month button,
.bootstrap-select.card-year button {
	margin-top: 0;
	padding: 20px;
	border: 0;
}

.bootstrap-select.card-month ul li a,
.bootstrap-select.card-year ul li a {
	outline: 0 !important;
}

.bootstrap-select.card-month.open button {
	background-color: white !important;
}

.bootstrap-select.card-month.open button:hover {
	background-color: #f5f5f5 !important;
}

.bootstrap-select.card-month.open button:focus {
	background-color: #f7f7f7 !important;
	outline-color: #c0cf3f !important;
}

.donate-type-wrap .bootstrap-select button:active,
.donate-type-wrap .bootstrap-select button:focus,
.donate-type-wrap .bootstrap-select button:visited {
	outline: 0 !important;
}

.endCardInput,
.endCardInputRecurring {
	display: none;
}

.oneTimeDonate,
.recurringAmountDonate {
	position: relative;
	padding-left: 37px;
}

.dollar-label {
	position: absolute;
	z-index: 999;
	left: 20px;
	top: 35px;
	font-size: 18px;
	color: #a9a9a9;
}

.donate-type-wrap.alt {
	max-width: 600px;
}

@media (max-width: 992px) {
	.other-ss .col {
		margin-bottom: 20px;
	}
}

@media (max-width: 769px) {
	.other-ss .col {
		margin-bottom: 40px;
	}
}

.confirm-wrap {
	margin-top: 50px;
}

.deleteApplicationModal .cancelDelete,
.deleteApplicationModal .confirmBtn {
	padding: 12px 0 !important;
    width: 100%;
    text-align: center;
    font-size: 15px;
    min-height: 52px;
}

.deleteApplicationModal {
    width: 100%;
    max-width: 420px;
    height: 0;
    max-height: 220px;
    background: white;
    margin-left: -210px;
    margin-top: 200px;
    left: 50%;
    top: 0;
    position: fixed;
    z-index: -99;
    opacity: 0;
    border: 3px solid #d4d4d4;
    padding: 20px;
    -webkit-box-shadow: 3px 3px 18px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 3px 3px 18px 0px rgba(0,0,0,0.25);
box-shadow: 3px 3px 18px 0px rgba(0,0,0,0.25);
}

.deleteApplicationModal.open {
	height: 100%;
	z-index: 99;
	opacity: 1;
	-webkit-transition: all .25s ease;
	    -moz-transition: all .25s ease;
	    -o-transition: all .25s ease;
	    transition: all .25s ease;
}

@media (max-width: 480px) {
	.deleteApplicationModal {
		margin-top: 100px;
		width: 100%;
		left: 50%;
		max-width: 320px;
		margin-left: -160px;
	}
}

table.grid_field td div.file_field {
	margin-top: -5px;
}

.ui-sched {
	float: right;
}

#card-element {
	   width: 100%;
    border: 2px solid #A5A6A6;
    padding: 20px;
    font-size: 18px;
    color: #6C6C6C;
    margin-top: 11px;
    letter-spacing: 1.3px;
    font-family: "fira-sans",sans-serif;
    font-style: normal;
    font-weight: 400;
}

@media (max-width: 992px) {
	.ui-sched {
		float: none;
	}
}