{embed="inc/_open-page"}

<style>
    .parsley-errors-list {
        list-style: none;
        padding: 0;
    
    }
    .parsley-errors-list .parsley-required {
        color: #a94442;
        padding: 10px 20px;
        background-color: #f2dede;
        border-color: #ebccd1;
        background-image: -webkit-linear-gradient(#f2dede 0%, #e7c3c3 100%);
        background-image: -o-linear-gradient(#f2dede 0%, #e7c3c3 100%);
        background-image: linear-gradient(#f2dede 0%, #e7c3c3 100%);
    }
</style>

{if logged_in_group_id == '7' || logged_in_group_id == "1"}
{exp:channel:form channel="scholarship_application" class="ui-form-check" include_jquery='no' return="apply-online/application/ENTRY_ID/1" include_assets="no"}
<input type="hidden" name="title" value="{visitor:global:member_firstname} {visitor:global:member_lastname} {current_time format="%F %d %Y %H:%i:%s"} - Application">
<input type="hidden" name="student_id" value="{zoo_visitor_id}">
<input type="hidden" name="student_relationship[data][]" value="{zoo_visitor_id}">
<input type="hidden" name="scholarship_application_date" value='{current_time}'>
<section>
    <div class="container flush squeeze sub-content-section">
        <div class="">
            <div class="row flush content">
                <div class="col-xs-12">
                    <h3>Criteria<h3>
                        <p>Single parents selected for financial assistance will meet the following criteria:</p>
                        <ol>
                            <li>Resident of Jasper or Newton County</li>
                            <li>Single head of household (single, legally separated, divorced, widowed) and not co-habiting with an ex-spouse, current spouse, or partner; with primary physical custody of one or more children under the age of 21</li>
                            <li>High School or GED graduate</li>
                            <li>Attending a college or university full time (at least 12 credit hours per semester)</li>
                            <li>Recipient of a Pell Grant</li>
                            <li>Pursuing a career-oriented course of study to ensure a better standard of living for his/her family <span class="font-bold">(Applicants cannot already have earned an undergraduate degree.)</span></li>
                        </ol>
                        <p>Check Yes below, if you can answer yes to the following 6 criteria.</p>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ui-yes-no">
                            <div class="radio-wrap left">
                                <div class="btn-group btn-group" data-toggle="buttons">
                                    <label id="validateStart" class="btn">
                                        <input type="checkbox" class="ui-pass" name='confirm_entry'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Yes</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ui-disqualified col-xs-12" style="display:none;">
                            <p class="error center">Sorry, you are not eligable for this scholarship.</p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <button style="margin-bottom: 0;" type="submit" class="primary text-center" id="enterScholarship" >Check Eligibility</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {/exp:channel:form}

    {if:else}
    {!-- Google Recaptcha --}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {!-- No Account Exists / Create one or Log in! --}
    {exp:visitor:registration_form error_handling="inline" form_class="signup-form" return="apply-online" allowed_groups="7"}
    <section>
        <div class="container flush sub-content-section">
            <div class="container pt-10">
                <h3 class="center"><strong>IMPORTANT:  Applicants need to go though the <a href="{site_url}students">Eligibility checklist</a> BEFORE they create an account.  If they are eligible, then they can go on to account creation and complete the application.</strong></h3>
                <h3 class="center"><strong>Applications must be completed and received by the deadline to be considered for a scholarship.  If you leave any section blank you may not be considered for a scholarship.</strong></h3>
            </div>
            <h2>Create your account today!</h2>
            <a href="{site_url}sign-in/{segment_3}/{segment_4}" class="">Already Have An Account? Sign In.</a>
            <input type="hidden" name="group_id" value="7">
            {!-- {field_errors}<div class="alert alert-danger">{error}</div>{/field_errors} --}
            <div class="text-input-wrap">
                <div class="getin-md-container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Applicant Information</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p>First Name</p>
                            <input class="primary" name="member_firstname" placeholder="First Name" value="{member_firstname}" data-parsley-required data-parsley-errors-container=".first-name">
                            <div class="first-name"></div>
                        </div>
                        <div class="col-sm-4">
                            <p>Middle Name</p>
                            <input class="primary" name="member_middlename" placeholder="Middle Name" value="{member_middlename}" data-parsley-required data-parsley-errors-container=".middle-name">
                            <div class="middle-name"></div>
                        </div>
                        <div class="col-sm-4">
                            <p>Last Name</p>
                            <input class="primary" name="member_lastname" placeholder="Last Name" value="{member_lastname}" data-parsley-required data-parsley-errors-container=".last-name">
                            <div class="last-name"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div style="max-width: 100% !important;" class="radio-wrap">
                                <p>Sex</p>
                                <div class="btn-group" data-toggle="buttons">
                                    {options:member_gender}
                                    <label class="btn">
                                        <input type="radio" name='member_gender' {checked} value="{option_name}" data-parsley-required data-parsley-errors-container=".gender"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> {option_name}</span>
                                    </label>
                                    {/options:member_gender}
                                </div>
                            </div>
                            <div class="gender"></div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p>Date of Birth<i style="display:none">{member_birthday} - hack for ee</i></p>
                            {!-- <input class="primary" name="member_birthday" placeholder="mm/dd/yyyy" type="text" class="datepicker" value="{member_birthday format="%m/%d/%Y"}">    --}
                            <input class="primary"  name="member_birthday" placeholder="Date of Birth" value="{member_birthday format="%m/%d/%Y"}" type="date" data-parsley-required data-parsley-errors-container=".birthday">
                            <div class="birthday"></div>
                            {if error:member_birthday}<div class="alert alert-danger">{error:member_birthday}</div>{/if}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Married Status</p>
                            <div class="row radio-wrap">
                                <div class="col-xs-12">
                                    <div class="btn-group radio-container" data-toggle="buttons">
                                        {options:member_marital_status}
                                        <label class="btn">
                                            <input type="radio" name='member_marital_status' {checked} value="{option_name}" data-parsley-required data-parsley-errors-container=".martial-status"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> {option_name}</span>
                                        </label>
                                        {/options:member_marital_status}
                                    </div>
                                </div>
                            </div>  
                            <div class="martial-status"></div>
                        </div>
                        <div class="col-sm-6">
                            <p>Race ( optional )</p>
                            <div class="row radio-wrap">
                                <div class="col-xs-12">
                                    <div class="btn-group radio-container" data-toggle="buttons">
                                        {options:member_race}
                                        <label class="btn">
                                            <input type="radio" name='member_race' {checked} value="{option_name}" data-parsley-required data-parsley-errors-container=".race"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> {option_name}</span>
                                        </label>
                                        {/options:member_race}
                                    </div>
                                </div>
                            </div>
                            <div class="race"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="content">
                                <p class="">Have you previously applied for an Aspire scholarship?</p>
                                <div class="row radio-wrap">
                                    <div class="col-xs-12">
                                        <div class="btn-group radio-container" style="max-width: 100%;" data-toggle="buttons">
                                            {options:previously_applied}
                                            <label class="btn">
                                                <input type="radio" name='previously_applied' {checked} value="{option_name}"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> {option_name}</span>
                                            </label>
                                            {/options:previously_applied}
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="content">
                                <p class="">Were you awarded an Aspire scholarship? </p>
                                <div class="row radio-wrap">
                                    <div class="col-xs-12">
                                        <div class="btn-group radio-container" data-toggle="buttons">
                                            {options:already_awarded}
                                            <label class="btn">
                                                <input type="radio" class="col-xs-12" name='already_awarded' {checked} value="{option_name}"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> {option_name}</span>
                                            </label>
                                            {/options:already_awarded}
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <p>Cell Phone</p>
                            <input class="primary" name="member_cellphone" placeholder="XXX-XXX-XXXX" value="{member_cellphone}">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <p>Home Phone</p>
                            <input class="primary" name="member_home_phone" placeholder="XXX-XXX-XXXX" value="{member_home_phone}">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <p>Work Phone</p>
                            <input class="primary" name="member_work_phone" placeholder="XXX-XXX-XXXX" value="{member_work_phone}">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <p>Message</p>
                            <input class="primary" name="member_message" placeholder="XXX-XXX-XXXX" value="{member_message}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Mailing Information</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <p>Street</p>
                            <input class="primary mailing_street" name="mailing_street" placeholder="Street" value="{mailing_street}">
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <p>Apt #</p>
                            <input class="primary mailing_apartment_number" name="mailing_apartment_number" placeholder="Apt #" value="{mailing_apartment_number}">
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <p>City</p>
                            <input class="primary mailing_city" name="mailing_city" placeholder="City" value="{mailing_city}">
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <p>State</p>
                            <input class="primary mailing_state" name="mailing_state" placeholder="State" value="{mailing_state}">
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <p>Zipcode</p>
                            <input class="primary mailing_zip" name="mailing_zip" placeholder="Zipcode" value="{mailing_zip}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Mailing and Billing address are the same.</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="radio-wrap left">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn">
                                        <input type="checkbox" name='same_info[]' id="same_info" class="same_info" value="Yes"><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Yes</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Residential Information</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <p>Street</p>
                            <input class="primary res_street" name="res_street" placeholder="Street" value="{res_street}">
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <p>Apt #</p>
                            <input class="primary res_apartment_number" name="res_apartment_number" placeholder="Apt #" value="{res_apartment_number}">
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <p>City</p>
                            <input class="primary res_city" name="res_city" placeholder="City" value="{res_city}">
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <p>State</p>
                            <input class="primary res_state" name="res_state" placeholder="State" value="{res_state}">
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <p>Zipcode</p>
                            <input class="primary res_zip" name="res_zip" placeholder="Zipcode" value="{res_zip}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Relative Contact Info</h3>
                            <small><i>Relative or contact who will always know where/how to reach you.</i></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p>Name</p>
                            <input class="primary" name="rel_name" placeholder="Full Name" value="{rel_name}">
                        </div>
                        <div class="col-sm-4">
                            <p>Relationship</p>
                            <input class="primary" name="rel_relationship" placeholder="Relationship" value="{rel_relationship}">
                        </div>
                        <div class="col-sm-4">
                            <p>Contact Number</p>
                            <input class="primary" name="rel_phone" placeholder="XXX-XXX-XXXX" value="{rel_phone}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <p>Street</p>
                            <input class="primary" name="rel_address" placeholder="Address" value="{rel_address}">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <p>City</p>
                            <input class="primary" name="rel_city" placeholder="City" value="{rel_city}">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <p>State</p>
                            <input class="primary" name="rel_state" placeholder="State" value="{rel_state}">
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <p>Zipcode</p>
                            <input class="primary" name="rel_zip" placeholder="Zipcode" value="{rel_zip}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Account Creation</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <input class="primary" name="email" placeholder="Email">
                            {if error:email}<div class="alert alert-danger">{error:email}</div>{/if}
                        </div>
                        <div class="col-sm-4">
                            <input type="password" class="primary" name="password" placeholder="Password">
                            {if error:password}<div class="alert alert-danger">{error:password}</div>{/if}
                        </div>
                        <div class="col-sm-4">
                            <input type="password" class="primary" name="password_confirm" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 marg-top">
                            <div class="g-recaptcha" data-sitekey="6LfSt3MUAAAAAMrOlNeMhPUstxfh6LbX1zH1p1hm"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 marg-top">
                            <p><button id="createAccount" type="submit" class="btn btn-lg btn-color-g">Create Account</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script>
        $(function(){
            $('#visitor_form').on('submit', function(e){
                if (validateCaptcha() && validateForm()){
                    return;
                } else {   
                    e.preventDefault();
                }
            });

            function validateCaptcha(){
                var captchaResponse = grecaptcha.getResponse();

                if (captchaResponse.length == 0) {
                    alert("Please verify that you are human.");
                    return false;
                } else {
                    return true;
                } 

            }

            function validateForm() {
                var form = $("#visitor_form");

                form.parsley().validate();

                if(form.parsley().isValid()) {
                    console.log("form is valid");
                    return true;
                } else {
                    console.log("form is invalid");
                    return false;
                }
            }

        });
    </script>
    {/exp:visitor:registration_form}
    {/if}
    {embed="inc/_close-page"}


    {!-- <script src="{site_url}assets/js/jSignature.min.js"></script> --}
    <script>
     $(document).ready (function () {
        $('.ui-form-check').on('submit', function(e){
            var fail = 'false';

            $('.ui-pass').each(function() {
                if ($(this).is(':checked')) {
                    $(this).closest('.ui-yes-no').next('.ui-disqualified').hide();
                } else {
                    fail = 'true';
                    $(this).closest('.ui-yes-no').next('.ui-disqualified').show();
                }
            });

            if (fail == 'true') {
                return false;
            }
        });
        $('.same_info').unbind('change').on('change', function(){
            var inputs = ['street','apartment_number','city','state','zip'];
            for (i = 0; i < inputs.length; i++)
            {
                $('input[name="res_'+inputs[i]+'"]').val($(this).is(':checked') ? $('input[name="mailing_'+inputs[i]+'"]').val() : "");
            }
        });
    });
</script>