{exp:jayson:options data='[{"school_type":"High School", "institution":"Joplin High", "location":"Joplin, MO", "degree":"", "start_date":"1468527501", "end_date":"1468527818", "credits_completed":""}, {"school_type":"Trade", "institution":"Vatterotte", "location":"Joplin, MO", "degree":"Nerdery", "start_date":"1468527501", "end_date":"1468527818", "credits_completed":""}, {"school_type":"College", "institution":"Missouri Southern State University", "location":"Joplin, MO", "degree":"Computer Information Science", "start_date":"1468527501", "end_date":"1468527818", "credits_completed":"30"}]'}

{exp:jayson:loop data='[{"school_type":"High School", "institution":"Joplin High", "location":"Joplin, MO", "degree":"", "start_date":"1468527501", "end_date":"1468527818", "credits_completed":""}, {"school_type":"Trade", "institution":"Vatterotte", "location":"Joplin, MO", "degree":"Nerdery", "start_date":"1468527501", "end_date":"1468527818", "credits_completed":""}, {"school_type":"College", "institution":"Missouri Southern State University", "location":"Joplin, MO", "degree":"Computer Information Science", "start_date":"1468527501", "end_date":"1468527818", "credits_completed":"30"}]'}
	<ul style="margin-top:20px;">
		{if school_type}<li>{school_type}</li>{/if}
		{if institution}<li>{institution}</li>{/if}
		{if location}<li>{location}</li>{/if}
		{if degree}<li>{degree}</li>{/if}
		{if start_date}<li>{start_date format="%g:%i%a"}</li>{/if}
		{if end_date}<li>{end_date format="%g:%i%a"}</li>{/if}
		{if credits_completed}<li>{credits_completed}</li>{/if}
	</ul>
{/exp:jayson:loop}