<ul style="list-style: none;margin-top: 50px;font-size: 8px;color: #595959;">
	{exp:channel:entries channel="board_members"}
		<li style="margin: 15px 0;">
			<p style="margin: 2px 0;">{title}</p>
			<p style="margin: 2px 0; text-transform: uppercase;">{people_board_title}</p>
		</li>
	{/exp:channel:entries}
</ul>