{exp:channel:entries url_title="{segment_2}" channel="email_templates" limit="1"}
	 {exp:sendmail:send subject="{email_subject}"}
		{!-- Container --}
		<body style="width: 768px;">

			{!-- Header Image --}
			<header>
				<img src="https://aspire.mwidev.com/assets/img/emaillogo.png" alt="" width="350px" style="margin-left: 50px;">
			</header>


			{!-- Email Body --}
			<section style="float:left;display: inline-block;width:300px;margin: 0 25px;font-size: 12px;font-family: 'Century Gothic', sans-serif;font-weight:300;">

				{!-- Greeting --}
				<div>
					<p style="margin-bottom: 20px;">{id} - {current_time format="%F %j%S, %Y"}</p>
					<p style="margin: 2px 0;">{name}</p>
					<p style="margin: 2px 0;">{street}</p>
					<p style="margin: 2px 0;">{city}, {state} {zip}</p>
				</div>

				{!-- Email Message --}
				{email_message}

				{!-- Salutation --}
				<div style="margin-top: 30px;">
					<p style="margin: 2px 0;">{salutation_name}</p>
					<p style="margin: 2px 0;">{salutation_position}</p>
				</div>
			</section>
			
			{!-- List of Staff --}
			<aside style="display: inline-block;float:left;width:125px;font-family: 'Times', Gotham-Book, serif; ">
				<ul style="list-style: none;margin-top: 50px;font-size: 8px;color: #595959;">
					{board_members}
						<li style="margin: 15px 0;">
							<p style="margin: 2px 0;">{board_members:title}</p>
							<p style="margin: 2px 0; text-transform: uppercase;">{board_members:people_board_title}</p>
						</li>
					{/board_members}
				</ul>
			</aside>

			{!-- Clearfix --}
			<div style="clear: both;"></div>

			{!-- Footer Information --}
			<footer style="display: block;float: left; margin-left:100px;margin-top: 25px;">
				<ul style="list-style: none;">
					<li style="display: inline-block;">
						<p style="font-size: 8px;">{address_one} <span style="color: red;font-size: 8px;">I</span></p>
					</li>
					<li style="display: inline-block;">
						<p style="font-size: 8px;">{address_two} <span style="color: red;font-size: 8px;">I</span></p>
					</li>
					<li style="display: inline-block;">
						<p style="font-size: 8px;">{phone} <span style="color: red;font-size: 8px;">I</span></p>
					</li>
					<li style="display: inline-block;">
						<p style="font-size: 8px;"><a href="mailto:{contact_email}" style="color: red;text-decoration: none;">{contact_email}</a></p>
					</li>
				</ul>
			</footer>
		</body>
	{/exp:sendmail:send}
{/exp:channel:entries}