{embed="inc/_open-page" title="Account"}
    <section>
        <div class="container flush sub-content-section">
            {exp:channel:form entry_id="{zoo_visitor_id}" channel="zoo_visitor" return="dashboard"}
                 {exp:channel:entries channel="zoo_visitor" entry_id="{entry_id}" status="not closed"}
                    <div class="getin-md-container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Applicant Information</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <p>First Name</p>
                                <input class="primary" name="member_firstname" placeholder="First Name" value="{member_firstname}">
                            </div>
                            <div class="col-sm-4">
                                <p>Middle Name</p>
                                <input class="primary" name="member_middlename" placeholder="Middle Name" value="{member_middlename}">
                            </div>
                            <div class="col-sm-4">
                                <p>Last Name</p>
                                <input class="primary" name="member_lastname" placeholder="Last Name" value="{member_lastname}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Sex</p>
                                <div class="row radio-wrap">
                                    <div class="col-xs-12">
                                      <div class="btn-group radio-container" data-toggle="buttons">
                                      {options:member_gender}
                                        <label class="btn">
                                          <input type="radio" name='member_gender' {checked} value="{option_name}"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> {option_name}</span>
                                        </label>
                                       {/options:member_gender}
                                      </div>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-sm-6">
                                <p class="pull-left">Date of Birth<i style="display:none">{member_birthday} - hack for ee</i></p>
                                <input class="primary" name="member_birthday" placeholder="mm/dd/yyyy" type="text" class="datepicker" value="{member_birthday format="%m/%d/%Y"}">   
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Married Status</p>
                                <div class="row radio-wrap">
                                    <div class="col-xs-12">
                                      <div class="btn-group radio-container" data-toggle="buttons">
                                      {options:member_marital_status}
                                        <label class="btn">
                                          <input type="radio" name='member_marital_status' {checked} value="{option_name}"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> {option_name}</span>
                                        </label>
                                       {/options:member_marital_status}
                                      </div>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-sm-6">
                                <p>Race ( optional )</p>
                                <div class="row radio-wrap">
                                    <div class="col-xs-12">
                                      <div class="btn-group radio-container" data-toggle="buttons">
                                      {options:member_race}
                                        <label class="btn">
                                          <input type="radio" name='member_race' {checked} value="{option_name}"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> {option_name}</span>
                                        </label>
                                       {/options:member_race}
                                      </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <p>Cell Phone</p>
                                <input class="primary" name="member_cellphone" placeholder="XXX-XXX-XXXX" value="{member_cellphone}">
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <p>Home Phone</p>
                                <input class="primary" name="member_home_phone" placeholder="XXX-XXX-XXXX" value="{member_home_phone}">
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <p>Work Phone</p>
                                <input class="primary" name="member_work_phone" placeholder="XXX-XXX-XXXX" value="{member_work_phone}">
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <p>Message</p>
                                <input class="primary" name="member_message" placeholder="XXX-XXX-XXXX" value="{member_message}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Mailing Information</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <p>Street</p>
                                <input class="primary" name="mailing_street" placeholder="Street" value="{mailing_street}">
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-6">
                                <p>Apt #</p>
                                <input class="primary" name="mailing_apartment_number" placeholder="Apt #" value="{mailing_apartment_number}">
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-6">
                                <p>City</p>
                                <input class="primary" name="mailing_city" placeholder="City" value="{mailing_city}">
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-6">
                                <p>State</p>
                                <input class="primary" name="mailing_state" placeholder="State" value="{mailing_state}">
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-6">
                                <p>Zipcode</p>
                                <input class="primary" name="mailing_zip" placeholder="Zipcode" value="{mailing_zip}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Residential Information</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <p>Street</p>
                                <input class="primary" name="res_street" placeholder="res Street" value="{res_street}">
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-6">
                                <p>Apt #</p>
                                <input class="primary" name="res_apartment_number" placeholder="res Apt #" value="{res_apartment_number}">
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-6">
                                <p>City</p>
                                <input class="primary" name="res_city" placeholder="City" value="{res_city}">
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-6">
                                <p>State</p>
                                <input class="primary" name="res_state" placeholder="State" value="{res_state}">
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-6">
                                <p>Zipcode</p>
                                <input class="primary" name="res_zip" placeholder="Zipcode" value="{res_zip}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Relative Contact Info</h3>
                                <small><i>Relative or contact who will always know where/how to reach you.</i></small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <p>Name</p>
                                <input class="primary" name="rel_name" placeholder="First Name" value="{rel_name}">
                            </div>
                            <div class="col-sm-4">
                                <p>Relationship</p>
                                <input class="primary" name="rel_relationship" placeholder="Relationship" value="{rel_relationship}">
                            </div>
                            <div class="col-sm-4">
                                <p>Contact Number</p>
                                <input class="primary" name="rel_phone" placeholder="XXX-XXX-XXXX" value="{rel_phone}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <p>Street</p>
                                <input class="primary" name="rel_address" placeholder="Address" value="{rel_address}">
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <p>City</p>
                                <input class="primary" name="rel_city" placeholder="City" value="{rel_city}">
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <p>State</p>
                                <input class="primary" name="rel_state" placeholder="State" value="{rel_state}">
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <p>Zipcode</p>
                                <input class="primary" name="rel_zip" placeholder="Zipcode" value="{rel_zip}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 marg-top">
                                <p><button type="submit" class="btn btn-lg btn-color-g">Update Account</button> {if !logged_in}<a href="{site_url}sign-in" type="submit" class="btn btn-cta-primary ui-submit">Already Have An Account? Sign In.</a></p>{/if}
                            </div>
                        </div>
                    </div>
                 {/exp:channel:entries}
            {/exp:channel:form}        
       </div>
    </section>
{embed="inc/_close-page"}