{embed="inc/_open-page" title="Dashboard"}
	<section>
		<div class="container flush sub-content-section">
        	<div class="row">
                <h3>Awarded Applications</h3>
                <table class="ui-datatable mwi-table">
                    <thead>
                        <tr>
                            {!-- <th>Date</th> --}
                            <th>Name</th>
                            <th>Interview</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {exp:channel:entries channel="scholarship_application" search:submit_for_review="=Yes" search:app_awarded="Yes" orderby="interview_time" sort="desc"}
                        <tr>
                            {!-- <td class="ui-video"><a data-iframe="true" class="ui-video-btn" href="{url_title_path='ministry-openings'}">{edit_date format="%m/%d/%Y"}</a></td> --}
                            <td>{student_relationship:member_firstname} {student_relationship:member_lastname}</td>
                            <td>{if interview_time}{interview_time}{if:else}Not Scheduled{/if}</td>
                            <td>{student_relationship:member_cellphone}</td>
                            <td>{student_relationship:email}</td>
                            <td>
                                <a class="btn btn-sm btn-color-primary" href="{entry_id_path='apply-online/application'}/view">View</a>
                                <a class="btn btn-sm btn-color-gray" href="{entry_id_path='dashboard/note'}">Notes</a>
                                {exp:channel:form channel="scholarship_application" return="dashboard" class="app-completes" entry_id="{entry_id}" include_assets="no" include_jquery="no"}
                                <input type="hidden" name="app_awarded" value="No">
                                <button class="btn btn-sm btn-color-r" href="">Deny</button>
                                {/exp:channel:form}
                            </td>
                        </tr>
                        {/exp:channel:entries}
                    </tbody>
                </table>
        	</div>           
       </div>
    </section>
{embed="inc/_close-page"}