{embed="inc/_open-page" title="Dashboard"}
	<section>
		<div class="container flush sub-content-section">
        	<div class="row">
            {if logged_in_group_id == '7' }
            	{exp:channel:entries channel="scholarship_application" search:student_id="={zoo_visitor_id}"}
                	<div class="col-sm-6">
                        <div class="app-card">
                            <div class="del-entry confirmDelete"><i class="fa fa-times"></i></div>
                    		<h3>{entry_date format="%F  %d%S, %Y"} Application</h3>
                    		<ul>
                    			<li class="success">
                    				<i class="fa fa-check-circle-o fa-2x"></i>
                    				Eligibility Requirement
                    			</li>
                    			<li class="{if personal_information}success{/if}">
                    				{if personal_information}
                    				<i class="fa fa-check-circle-o fa-2x"></i>
                    				{if:else}
                    				<i class="fa fa-circle-o fa-2x"></i>
                    				{/if}
                                    <a href="{entry_id_path='apply-online/application'}/1">
                        				Personal Information
                                    </a>
                    			</li>
                                <li class="{if educational_information}success{/if}">
                                    {if educational_information}
                                    <i class="fa fa-check-circle-o fa-2x"></i>
                                    {if:else}
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    {/if}
                                    <a href="{entry_id_path='apply-online/application'}/2">
                                        Educational Information
                                    </a>
                                </li>
                                <li class="{if family_information_complete}success{/if}">
                                    {if family_information_complete}
                                    <i class="fa fa-check-circle-o fa-2x"></i>
                                    {if:else}
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    {/if}
                                    <a href="{entry_id_path='apply-online/application'}/3">
                                        Family Information
                                    </a>
                                </li>
                                <li class="{if financial_information_complete}success{/if}">
                                    {if financial_information_complete}
                                    <i class="fa fa-check-circle-o fa-2x"></i>
                                    {if:else}
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    {/if}
                                    <a href="{entry_id_path='apply-online/application'}/4">
                                        Financial Information
                                    </a>
                                </li>
                                <li class="{if file_upload_complete}success{/if}">
                                    {if file_upload_complete}
                                    <i class="fa fa-check-circle-o fa-2x"></i>
                                    {if:else}
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    {/if}
                                    <a href="{entry_id_path='apply-online/application'}/5">
                                        Additional Requirements / Uploads {file_upload_complete}
                                    </a>
                                </li>
                                <li class="{if app_complete}success{/if}">
                                    {if app_complete}
                                    <i class="fa fa-check-circle-o fa-2x"></i>
                                    {if:else}
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    {/if}
                                    <a href="{entry_id_path='apply-online/application'}/6">
                                        Signed & Completed
                                    </a>
                                </li>
                    			<li class="{if submit_for_review}success{/if}">
                    				{if submit_for_review}
                    				<i class="fa fa-check-circle-o fa-2x"></i>
                    				{if:else}
                    				<i class="fa fa-circle-o fa-2x"></i>
                    				{/if}
                    				Application Submitted for Review
                    			</li>
                                <li class="{if interview}success{/if}">
                                    {if interview}
                                    <i class="fa fa-check-circle-o fa-2x"></i>
                                    {if:else}
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    {/if}
                                    Scholarship Interview
                                    {if interview_time}<i style="display:block;">{interview_time}</i>{/if}
                                </li>
                    			<li class="{if "{app_awarded}" == "Yes"}success{if:elseif "{app_awarded}" == "No"}denied{/if}">
                    				{if "{app_awarded}" == "Yes"} 
                        				<i class="fa fa-check-circle-o fa-2x"></i>
                                    {if:elseif "{app_awarded}" == "No"}
                                        <i class="fa fa-times-circle-o fa-2x"></i>
                    				{if:else}
                    				<i class="fa fa-circle-o fa-2x"></i>
                    				{/if}
                    				Application {if "{app_awarded}" == "Yes"}Awarded{if:elseif "{app_awarded}" == "No"}Denied{if:else}Decision{/if}
                    			</li>
                    		</ul>
                    		<p>
                            {if !app_awarded}
                                {if app_complete == "Yes" && submit_for_review != "Yes"}
                                {exp:channel:form channel="scholarship_application" return="dashboard" class="review-form" entry_id="{entry_id}" include_assets="no" include_jquery="no"}
                                    <input type="hidden" name="submit_for_review[]" value="Yes">
                        			<button type="submit" class="btn btn-sm btn-color-g" href="{entry_id_path='apply-online/application'}">Submit Application</button>
                                {/exp:channel:form}
                                {/if}
                                {if !interview && app_complete == "Yes"}
                        			<a class="btn btn-lg btn-color-g" href="{entry_id_path="dashboard/schedule"}">Schedule Interview</a>
                                {if:elseif interview == "Yes"}
                                    {exp:channel:form channel="scholarship_application" return="dashboard" class="cancel-review-form" entry_id="{entry_id}" include_assets="no" include_jquery="no"}
                                        <input type="hidden" name="interview" value="">
                                        <input type="hidden" name="interview_time" value="">
                                        <a class="btn btn-lg btn-color-r ui-cancel" href="#">Cancel Interview</a>
                                    {/exp:channel:form}
                                {/if}
                            {if:else}
                                <a class="btn btn-lg btn-color-primary" href="{site_url}contact">Contact For Details</a>
                            {/if}
                    		</p>
                        </div>
                	</div>
                    <div class="ui-load"></div>
                        <div class="deleteApplicationModal">
                            <div class="inner">
                                <h3 class="text-center">Confirm Deletion?</h3>
                                <p>You are about to delete your application, are you sure you want to delete this?</p>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="cancelDelete text-center btn btn-color-primary">Cancel</div>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="{path='dashboard/delete-application'}/{entry_id}"><button type="submit" class="btn btn-lg btn-color-g confirmBtn">Confirm</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <script>
                        $('.ui-cancel').on('click',function(){
                            
                            var student = '{zoo_visitor_id}';

                            $( ".ui-load" ).load("{site_url}/dashboard/scheduler/0/"+student+"/{entry_id}", function(){
                                $('.cancel-review-form').submit();
                            });

                            return false;
                        });
                    </script>
                {/exp:channel:entries}
            {if:elseif logged_in_group_id == '6' || logged_in_group_id == '8' }
                <h3>Interview Scheduled Applications</h3>
                <hr>
                <table class="ui-datatable mwi-table">
                    <thead>
                        <tr>
                            {!-- <th>Date</th> --}
                            <th>Name</th>
                            <th>Interview</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {exp:channel:entries channel="scholarship_application" search:interview="=Yes" search:submit_for_review="=Yes" search:app_awarded="IS_EMPTY" orderby="interview_time" sort="desc"}
                        <tr>
                            {!-- <td class="ui-video"><a data-iframe="true" class="ui-video-btn" href="{url_title_path='ministry-openings'}">{edit_date format="%m/%d/%Y"}</a></td> --}
                            <td>{student_relationship:member_firstname} {student_relationship:member_lastname}</td>
                            <td>{if interview_time}{interview_time}{if:else}Not Scheduled{/if}</td>
                            <td>{student_relationship:member_cellphone}</td>
                            <td>{student_relationship:email}</td>
                            <td>
                                <a class="btn btn-sm btn-color-primary" href="{entry_id_path='apply-online/application'}/view">View</a>
                                <a class="btn btn-sm btn-color-p" href="{entry_id_path='dashboard/note'}">Notes</a>
                                {exp:channel:form channel="scholarship_application" return="dashboard" class="app-completes" entry_id="{entry_id}" include_assets="no" include_jquery="no"}
                                <input type="hidden" name="app_awarded" value="Yes">
                                <button class="btn btn-sm btn-color-g" href="">Award</button>
                                {/exp:channel:form}
                                {exp:channel:form channel="scholarship_application" return="dashboard" class="app-completes" entry_id="{entry_id}" include_assets="no" include_jquery="no"}
                                <input type="hidden" name="app_awarded" value="No">
                                <button class="btn btn-sm btn-color-r" href="">Deny</button>
                                {/exp:channel:form}
                            </td>
                        </tr>
                        {/exp:channel:entries}
                    </tbody>
                </table>
                <hr>
                <h3>Submitted Applications</h3>
                <hr>
                <table class="ui-datatable mwi-table">
                    <thead>
                        <tr>
                            {!-- <th>Date</th> --}
                            <th>Name</th>
                            <th>Interview</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {exp:channel:entries channel="scholarship_application" search:submit_for_review="=Yes" search:interview="IS_EMPTY" search:app_awarded="IS_EMPTY" orderby="interview_time" sort="desc"}
                        <tr>
                            {!-- <td class="ui-video"><a data-iframe="true" class="ui-video-btn" href="{url_title_path='ministry-openings'}">{edit_date format="%m/%d/%Y"}</a></td> --}
                            <td>{student_relationship:member_firstname} {student_relationship:member_lastname}</td>
                            <td>{if interview_time}{interview_time}{if:else}Not Scheduled{/if}</td>
                            <td>{student_relationship:member_cellphone}</td>
                            <td>{student_relationship:email}</td>
                            <td>
                                <a class="btn btn-sm btn-color-primary" href="{entry_id_path='apply-online/application'}/view">View</a>
                                <a class="btn btn-sm btn-color-gray" href="{entry_id_path='dashboard/note'}">Notes</a>
                                {exp:channel:form channel="scholarship_application" return="dashboard" class="app-completes" entry_id="{entry_id}" include_assets="no" include_jquery="no"}
                                <input type="hidden" name="app_awarded" value="Yes">
                                <button class="btn btn-sm btn-color-g" href="">Award</button>
                                {/exp:channel:form}
                                {exp:channel:form channel="scholarship_application" return="dashboard" class="app-completes" entry_id="{entry_id}" include_assets="no" include_jquery="no"}
                                <input type="hidden" name="app_awarded" value="No">
                                <button class="btn btn-sm btn-color-r" href="">Deny</button>
                                {/exp:channel:form}
                            </td>
                        </tr>
                        {/exp:channel:entries}
                    </tbody>
                </table>
            {/if}
        	</div>           
       </div>
    </section>
    <script>
        $(document).ready(function(){
            $('.confirmDelete, .cancelDelete').click(function(){
                $('.deleteApplicationModal').toggleClass('open');
            });
        });
    </script>
{embed="inc/_close-page"}