{embed="inc/_open-page"}
		<section>
			<div class="container flush squeeze sub-content-section">
				<div class="">
					<div class="row flush content">
						{exp:channel:entries channel="scholarship_application" return="dashboard" entry_id="{segment_3}"}
						<h2 style="margin-bottom:5px !important;">{student_relationship:member_firstname} {student_relationship:member_lastname}</h2>
						<h4>{edit_date format="%F %d, %Y"} Application Notes</h4>
						<hr>
						{/exp:channel:entries}

						{exp:comment:entries sort="asc" limit="20" sort="desc" entry_id="{segment_3}"}
						<article class="note">
							<h4>
							<small>
								Posted By: {author} {comment_date:relative}
								</small>
							</h4>
							<p>{comment}</p>
						</article>
						<hr>
						{/exp:comment:entries}
						{exp:comment:form channel="scholarship_application" entry_id="{segment_3}"}
						<div class="text-input-wrap">
							<div class="getin-md-container">
								<div class="col-sm-12">
									<p>Notes Log</p>
									<textarea name="comment"></textarea>
								</div>
								<div class="col-xs-12">
								<hr>
									<p class="center">
										<button type="submit" class="text-center btn btn-color-primary">Post Note</button>
									</p>
								</div>
							</div>
						</div>
						{/exp:comment:form}
					</div>
				</div>
			</div>
		</section>

{embed="inc/_close-page"}