{embed="inc/_open-page"}
		<section>
			<div class="container flush squeeze sub-content-section">
				<div class="row">
					<div class="content">
						{exp:channel:entries channel="scholarship_application" return="dashboard" entry_id="{segment_3}"}
						<div class="col-md-6">
							<h2 style="margin: 5px 0;">Interview Times</h2>
						</div>
						<div class="col-md-6">
							<a href="#" style="margin: 5px 0;" disabled data-student="{student_id}" class="btn btn-color-primary ui-sched">Schedule Selected Time</a>
						</div>
						<div class="col-xs-12">
							<hr>
						</div>
						{/exp:channel:entries}
						{exp:channel:entries channel="interview_schedule" orderyby="title" sort="asc" dynamic="no" start_on="today" show_future_entries="yes"}
						<article class="available-times">
							<h4>{title} <a href="#" class="btn-sm btn btn-color-g pull-right ui-toggle">View Available Times</a></h4>
							<div class="radio-wrap left col-xs-12 ui-toggle-show" style="display:none;">
					        	<div class="btn-group btn-group" data-toggle="buttons">
					        	{times}
					        		{if times:scheduled_with == ""}
							        <label class="btn">
							          <input type="checkbox" data-gid="{times:row_id}" class="ui-select-clear" name='' value="{title} @ {times:time}"><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> {times:time}</span>
							        </label>
							        {/if}
							    {/times}
						    	</div>
						    </div>
						</article>
						{/exp:channel:entries}
					</div>
				</div>
			</div>
		</section>
		<div class="ui-load"></div>
		{exp:channel:form channel="scholarship_application" entry_id="{segment_3}" return="dashboard" include_assets="no" include_jquery="no"}
			<input type="hidden" name="interview_time" value="" class="ui-int-time">
			<input type="hidden" name="interview" value="Yes">
		{/exp:channel:form}
		<script>
			$(function(){
				$('.ui-sched').on('click',function(){
					var v = $('.ui-select-clear:checked');
					var time = v.val();
					var gid = v.data('gid');
					var student = $(this).data('student');

					$('.ui-int-time').val(time);

					$( ".ui-load" ).load("{site_url}/dashboard/scheduler/"+gid+"/"+student+"/{segment_3}", function(){
						$('#publishForm').submit();
					});

					return false;
				});

				$('.ui-toggle').click(function(){
					$(this).closest('h4').next('.ui-toggle-show').toggle();
					return false;
				});
				
				$('.ui-select-clear').change(function(){
					if(this.checked){
						$('.ui-select-clear:checked').not(this).removeAttr('checked');
						$('.ui-select-clear').not(this).parent('.btn').removeClass('active');
						$('.ui-sched').attr('disabled',false);
					}
					else{
						$('.ui-sched').attr('disabled',true);
					}
				});
				
			});
		</script>
{embed="inc/_close-page"}