{if logged_out}
	{redirect="/"}
{/if}
{embed="inc/_open-page" title="Success Story"}
	{if logged_in_group_id == 7}
	<section id="success">
		<div class="container flush squeeze sub-content-section">
			<div class="center">
			{if segment_3}
				<a href="{path='dashboard/delete-story/{segment_3}'}" class="btn btn-lg btn-color-g">Delete Story</a>
			{/if}
			</div>
			<div class="content">
				<p class="center">Tell your story.</p>
				<div class="row text-input-wrap">
					{exp:channel:form channel="success_story" entry_id="{segment_3}" return="dashboard/success-story/ENTRY_ID"}
					{if segment_3 != "" && "{ss_student_id}" != "{zoo_visitor_id}"}
						{redirect="dashboard"}
					{/if}
						<input type="hidden" name="title" value="{visitor:global:member_firstname} {visitor:global:member_lastname}" />
						<input type="hidden" name="ss_student_id" value="{zoo_visitor_id}"/>
						<input type="hidden" name="ss_student_relationship[data][]" value="{zoo_visitor_id}">
					    <div class="col-xs-12">
					    	<span class="words-left">Words left: <span id="wordCount">0</span> of 500</span>
							<textarea class="primary words" id="text" type="text" name="ss_success_story" >{if ss_success_story}{ss_success_story}{/if}</textarea>
					    </div>
					    <div class="col-xs-12 file-input-btn-align">
					    <p class="center">Add an image of yourself</p>
					    {field:ss_student_image}
					    </div>
					    <div class="col-xs-12">
					    <p class="center">If you have a youtube or vimeo video of your story, paste the <strong>embed code</strong> here.</p>
					      <input class="primary" type="text" name="ss_student_video" value="{if ss_student_video}{ss_student_video}{/if}">
					    </div>
					    <div class="col-xs-12">
							<button type="submit" class="btn btn-lg btn-color-g center-block">Submit</button>
					    </div>
				    {/exp:channel:form}

				</div>	
			</div>
		</div>
	</section>
		
	{/if}	


{embed="inc/_close-page"}
