{embed="inc/_open-page"}
	<section id="about">
		<div class="container center">
		{exp:channel:entries channel="home" limit="1" dynamic="no"}
		<img src="{home_about_icon}">
		<div class="pb-30"></div>
			<h2>{home_about_headline}</h2>
			<div class="pb-30"></div>
			<p>{home_about_summary}</p>
			<div class="pb-30"></div>
			<a href="{home_about_summary_link}" class="btn btn-lg btn-border-w ">Learn More</a>
		</div>
		{/exp:channel:entries}
	</section>
	<!-- <section>
		<div class="testimonial-slider">
			{testimonials}
				<div>
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<img class="person" src="{site_url}assets/img/account.png">
								<h4 class="text-center name">{testimonials:testimonial_name}</h4>
								<h5 class="text-center job-title">{testimonials:testimonial_title}</h5>
								<p class="text-center quote"><i>{testimonials:testimonial_content}</i></p>
								<a href="#" class="btn btn-lg btn-color-g center-block">Read More</a>
							</div>
						</div>
					</div>
				</div>
			{/testimonials}
		</div>
	</seciton> -->
	{embed="students/slider"}
{exp:channel:entries channel="home" limit="1" dynamic="no"}
	<section id="apply">
		<div class="container center">
			<img src="{site_url}assets/img/applyicon.png">
			<a href="{site_url}apply-online"><h1 class="color-g">Apply Online Today!</h1></a>
			<p>{home_apply_intro}</p>
			<div class="pb-60"></div>
			<ul id="applyicons">
				{home_steps}
				<li>
					<img src="{home_steps:icon}">
					<p class="color-g">{home_steps:label}</p>
				</li>
				<span><img src="{site_url}assets/img/ellipse.png"></span>
				{/home_steps}
				<!-- <li>
					<img src="{site_url}assets/img/eligibility.png">
					<p class="color-g">Check Eligibility &amp; Apply Online</p>
				</li>
				<span><img src="{site_url}assets/img/ellipse.png"></span>
				<li>
					<img src="{site_url}assets/img/schedule.png">
					<p class="color-g">Schedule An Interview</p>
				</li> -->
			</ul>
			<div class="pb-50"></div>
			<a href="{site_url}apply-online" class="btn btn-lg btn-color-g center-block">Take your first step</a>
		</div>
		{/exp:channel:entries}
	</section>

<script>
    $('.testimonial-slider').owlCarousel({
        center: true,
        items:1,
        nav: true,
        loop:true,
        center: true,
        autoplay: 4500,
        slideSpeed: 1700,
        responsive: true,
        responsiveRefreshRate: 100,
        autoplayHoverPause: true,
        // animateOut: 'bounceOut',
        // animateIn: 'fadeIn',
        animateOut: 'fadeOut',
        animateIn: 'fadeIn',
        responsive:{
            600:{items:1}
        }
    });
</script>
{embed="inc/_close-page"}
