{embed="inc/_open-page"}
{if segment_2 != 'thankyou'}
<section>
	<div class="container donate-wrap">
		<div class="primary-wrap">
			<h2>How Can I Help?</h2>
			<div class="divider"></div>
			{exp:channel:entries channel="static_pages" entry_id="82" dynamic="no"}
			<div class="row">
				<div class="col-xs-12">
					<p>{static_content}</p>
				</div>
			</div>
			{/exp:channel:entries}	
			<div class="row startCardInput">
				<div class="col-md-6">
					<div class="donate-type-wrap">
						<h3 class="text-center">One Time Donation</h3>
						<div class="divider"></div>
						<p>Your one-time gift goes directly toward the support of the Aspire program: student scholarships, merit scholarships, and student incentive gifts.</p>
						<div class="row">
							<div class="col-xs-12">
								<input class="primary cardNumberStartOne" name="one_time_donate" placeholder="$">
								<button id="showCardOneTime" type="submit" class="btn btn-lg btn-color-g center-block">Give Now!</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="donate-type-wrap">
						<h3 class="text-center">Recurring Donation</h3>
						<div class="divider"></div>
						<p>Your recurring gift will help fund scholarships and merit scholarships for single parent students each semester until their graduation.</p>
						<input class="primary cardNumberStartRecurring" type="text" name="recurring_donate" placeholder="$">
						<button id="showCardRecurring" type="submit" class="btn btn-lg btn-color-g center-block">Give Now!</button>
					</div>
				</div>
			</div>
			<div class="row endCardInput">
				<div class="col-xs-12">
					<div class="donate-type-wrap alt">
						{exp:charge:form
						form_class="form-horizontal"
						form_id="charge-form-one"
						return="donate/thankyou"
						return_error="donate/error"
						plan_set_name="onetime"
					}
					<h3 class="text-center">One Time Donation</h3>
					<div class="divider"></div>
					{if have_errors}
					<div class="alert alert-error">
						<h4>We have {error_count} errors</h4>
						<ul>
							{errors}
							<li>{error_message}</li>
							{/errors}
						</ul>
						<div class="divider"></div>
					</div>
					{/if}
					<p>You are about to make a donation of:</p>
					<div class="relative-wrap">
						<input class="primary oneTimeDonate" id="plan_amount" name="plan_amount" value="{plan_amount}" placeholder="$">
					</div>
					{if error_plan_amount}
					<div class="alert alert-warning">
						{error_plan_amount_message}
					</div>
					{/if}
					<input type="text" class="primary" id="customer_email" name="customer_email" placeholder="Email" value="{customer_email}" />
					{if error_customer_email}
					<div class="alert alert-warning">
						{error_customer_email_message}
					</div>
					{/if}
					<input type="text" class="primary" id="customer_name" name="customer_name" placeholder="Name on Card" value="{customer_name}" />
					{if error_customer_name}
					<div class="alert alert-warning">
						{error_customer_name_message}
					</div>
					{/if}
					<input id="card_number" class="primary card-number" type="text" value="" data-stripe="number" name="one_time_donate" placeholder="Card Number">
					<div class="row">
						<div class="col-sm-6">
							<select id="card_exp_month" class="selectpicker card-month" data-stripe="exp_month">
								<option selected="selected">Expiration Month</option>
								{card_months}
								<option value="{month_digit}">{month_digit} / {month_long}</option>
								{/card_months}
							</select>
						</div>
						<div class="col-sm-6">
							<select id="card_exp_year" class="selectpicker card-year" data-stripe="exp_year" >
								<option selected="selecteds">Expiration Year</option>
								{card_years}
								<option value="{year}">{year}</option>
								{/card_years}
							</select>
						</div>
					</div>
					<input class="primary" type="text" id="card_cvc" placeholder="CVC Code" data-stripe="cvc" />
					<button id="submit_payment" type="submit" class="btn btn-lg btn-color-g center-block">Give Now!</button>
					<div id="payment-errors"></div>
					{/exp:charge:form}
				</div>
			</div>
		</div>

		<div class="row endCardInputRecurring">
			<div class="col-xs-12">
				<div class="donate-type-wrap alt">
					{exp:charge:form
					form_class="form-horizontal"
					form_id="charge-form-rec"
					return="donate/thankyou"
					return_error="donate/error"
					plan_set_name="recurring"
					plan_length_interval="month"
					plan_length="12"
				}
				<h3 class="text-center">Recurring Donation</h3>
				<div class="divider"></div>
				{if have_errors}
				<div class="alert alert-error">
					<h4>We have {error_count} errors</h4>
					<ul>
						{errors}
						<li>{error_message}</li>
						{/errors}
					</ul>
					<div class="divider"></div>
				</div>
				{/if}
				<p>You are about to make a recurring donation of:</p>
				<div class="relative-wrap">
					<input class="primary recurringAmountDonate" id="plan_amount" name="plan_amount" value="{plan_amount}" placeholder="$">
				</div>
				{if error_plan_amount}
				<div class="alert alert-warning">
					{error_plan_amount_message}
				</div>
				{/if}
				<input type="text" class="primary" id="customer_email" name="customer_email" placeholder="Email" value="{customer_email}" />
				{if error_customer_email}
				<div class="alert alert-warning">
					{error_customer_email_message}
				</div>
				{/if}
				<input type="text" class="primary" id="customer_name" name="customer_name" placeholder="Name on Card" value="{customer_name}" />
				{if error_customer_name}
				<div class="alert alert-warning">
					{error_customer_name_message}
				</div>
				{/if}

				<input id="card_number" class="primary card-number" type="text" value="" data-stripe="number" name="one_time_donate" placeholder="Card Number">
				<div class="row">
					<div class="col-sm-6">
						<select id="card_exp_month" class="selectpicker card-month" data-stripe="exp_month">
						<option selected="selected">Expiration Month</option>
							{card_months}
							<option value="{month_digit}">{month_digit} / {month_long}</option>
							{/card_months}
						</select>
					</div>
					<div class="col-sm-6">
						<select id="card_exp_year" class="selectpicker card-year" data-stripe="exp_year" >
							<option selected="selecteds">Expiration Year</option>
							{card_years}
							<option value="{year}">{year}</option>
							{/card_years}
						</select>
					</div>
				</div>
				<input class="primary" type="text" id="card_cvc" placeholder="CVC Code" data-stripe="cvc" />
				<button id="submit_payment" type="submit" class="btn btn-lg btn-color-g center-block">Give Now!</button>
				<!-- ERROR MESSAGES -->
				<div id="payment-errors"></div>
				{/exp:charge:form}
			</div>
		</div>
	</div>
</div>
</div>
</section>
<section>
	<div class="container center">
		<div class="primary-wrap">
			<h2 class="color-g">Personal Involvement</h2>
			{exp:channel:entries channel="static_pages" url_title="donate" dynamic="no"}
			<p>{static_content_2}</p>
			{/exp:channel:entries}
			<div class="pb-30"></div>
			{exp:freeform:form
			form_id="3" return="donate/volenteer-thankyou"
		}
		<div class="content">
			<div class="row text-input-wrap">
				<div class="col-sm-6">
					<input class="primary" type="text" name="name" placeholder="Name">
				</div>
				<div class="col-sm-6">
					<input class="primary" type="text" name="address" placeholder="Address">
				</div>
			</div>
			<div class="row text-input-wrap">
				<div class="col-sm-6">
					<input class="primary" type="text" name="phone" placeholder="Phone">
				</div>
				<div class="col-sm-6">
					<input class="primary" type="email" name="email" placeholder="Email">
				</div>
			</div>
			<div class="row text-input-wrap">
				<div class="col-xs-12">
					<p><button type="submit" name="submit" class="btn btn-lg btn-color-g">Submit</button></p>
				</div>
			</div>	
		</div>
		{/exp:freeform:form}
	</div>
</div>
</section>
{if:else}
<section>
	<div class="container donate-wrap">
		<div class="primary-wrap">
			<h2>Thank You</h2>
			<div class="divider"></div>
			<div class="row">
				<div class="col-xs-12">
					<p>Thank you for your dontation. Your support is highly appreciated and will help change someones future.</p>
				</div>
			</div>
		</div>
	</div>
</section>
{/if}
{embed="inc/_close-page"}


<script src="{exp:charge:stripe_js}"></script>
<script src="{exp:charge:js}"></script>
<script>
	$(document).ready(function(){
		$('#showCardOneTime').click(function(){
			$('.startCardInput').hide();
			$('.endCardInput').show();
			// window.location.href = "{site_url}donate/onetime";
		});
		$('.startCardInput .cardNumberStartOne').change(function() {
			$('.oneTimeDonate').val($(this).val());
			$(".oneTimeDonate").before('<div class="dollar-label">$</div>');
		});

		$('#showCardRecurring').click(function(){
			$('.startCardInput').hide();
			$('.endCardInputRecurring').show();
			// window.location.href = "{site_url}donate/recurring";
		});

		$('.cardNumberStartRecurring').change(function() {
			$('.recurringAmountDonate').val($(this).val());
			$(".recurringAmountDonate").before('<div class="dollar-label">$</div>');
		});
		
	});
	(function(window, undefined) {
		Stripe.setPublishableKey('{exp:charge:public_key}');
		$(this).charge('#charge-form-one', '#payment-errors');
	})(window);
	(function(window, undefined) {
		Stripe.setPublishableKey('{exp:charge:public_key}');
		$(this).charge('#charge-form-rec', '#payment-errors');
	})(window);
</script>
