{embed="inc/_open-page"}
{if segment_2 != 'thankyou'}
<section>
	<div class="container donate-wrap">
		<div class="primary-wrap">
			<h2>How Can I Help?</h2>
			<div class="divider"></div>
			{exp:channel:entries channel="static_pages" entry_id="82" dynamic="no"}
			<div class="row">
				<div class="col-xs-12">
					<p>{static_content}</p>
				</div>
			</div>
			{/exp:channel:entries}	
			<div class="row startCardInput">
				<div class="col-md-12">
					<div class="donate-type-wrap">
						<h3 class="text-center">One Time Donation</h3>
						<div class="divider"></div>
						<p>Your one-time gift goes directly toward the support of the Aspire program: student scholarships, merit scholarships, and student incentive gifts.</p>
						<div class="row">
							<div class="col-xs-12">
								<input class="primary cardNumberStartOne" name="one_time_donate" placeholder="$">
								<button id="showCardOneTime" type="submit" class="btn btn-lg btn-color-g center-block">Give Now!</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row endCardInput">
				<div class="col-xs-12">
					<div class="donate-type-wrap alt">
						{exp:charge:form
						form_class="form-horizontal"
						form_id="charge-form"
						return="donate/thankyou"
						return_error="donate/error"
						plan_set_name="onetime"
					}
					<h3 class="text-center">One Time Donation</h3>
					<div class="divider"></div>
					{if have_errors}
					<div class="alert alert-error">
						<h4>We have {error_count} errors</h4>
						<ul>
							{errors}
							<li>{error_message}</li>
							{/errors}
						</ul>
						<div class="divider"></div>
					</div>
					{/if}
					<p>You are about to make a donation of:</p>
					<div class="relative-wrap">
						<input class="primary oneTimeDonate" id="plan_amount" name="plan_amount" value="{plan_amount}" placeholder="$">
					</div>
					{if error_plan_amount}
					<div class="alert alert-warning">
						{error_plan_amount_message}
					</div>
					{/if}
					<input type="text" class="primary" id="customer_email" name="customer_email" placeholder="Email" value="{customer_email}" />
					{if error_customer_email}
					<div class="alert alert-warning">
						{error_customer_email_message}
					</div>
					{/if}
					<input type="text" class="primary" id="customer_name" name="customer_name" placeholder="Name on Card" value="{customer_name}" />
					{if error_customer_name}
					<div class="alert alert-warning">
						{error_customer_name_message}
					</div>
					{/if}
					<input id="card_number" class="primary card-number" type="text" value="" data-stripe="number" name="one_time_donate" placeholder="Card Number">
					<div class="row">
						<div class="col-sm-6">
							<select id="card_exp_month" class="selectpicker card-month" data-stripe="exp_month">
								<option selected="selected">Expiration Month</option>
								{card_months}
								<option value="{month_digit}">{month_digit} / {month_long}</option>
								{/card_months}
							</select>
						</div>
						<div class="col-sm-6">
							<select id="card_exp_year" class="selectpicker card-year" data-stripe="exp_year" >
								<option selected="selecteds">Expiration Year</option>
								{card_years}
								<option value="{year}">{year}</option>
								{/card_years}
							</select>
						</div>
					</div>
					<input class="primary" type="text" id="card_cvc" placeholder="CVC Code" data-stripe="cvc" />
					<button id="submit_payment" type="submit" class="btn btn-lg btn-color-g center-block">Give Now!</button>
					<div id="payment-errors"></div>
					{/exp:charge:form}
				</div>
			</div>
		</div>
	</div>
</div>
</section>
{if:else}
<section>
	<div class="container donate-wrap">
		<div class="primary-wrap">
			<h2>Thank You</h2>
			<div class="divider"></div>
			<div class="row">
				<div class="col-xs-12">
					<p>Thank you for your dontation. Your support is highly appreciated and will help change someones future.</p>
				</div>
			</div>
		</div>
	</div>
</section>
{/if}
{embed="inc/_close-page"}


<script src="{exp:charge:stripe_js}"></script>
<script src="{exp:charge:js}"></script>
<script>
	$(document).ready(function(){
		$('#showCardOneTime').click(function(){
			$('.startCardInput').hide();
			$('.endCardInput').show();
		});
		$('.startCardInput .cardNumberStartOne').change(function() {
			$('.oneTimeDonate').val($(this).val());
			$(".oneTimeDonate").before('<div class="dollar-label">$</div>');
		});

		$('#showCardRecurring').click(function(){
			$('.startCardInput').hide();
			$('.endCardInputRecurring').show();
		});

		$('.cardNumberStartRecurring').change(function() {
			$('.recurringAmountDonate').val($(this).val());
			$(".recurringAmountDonate").before('<div class="dollar-label">$</div>');
		});
		
	});
	(function(window, undefined) {
		Stripe.setPublishableKey('{exp:charge:public_key}');
		$(this).charge('#charge-form', '#payment-errors');
	})(window);
</script>
